[2020-04-30 14:56] ajanieniolasolomon opened #1 "Pub error when i try to install video_trimmer"
Because every version of video_trimmer depends on image_picker ^0.6.5+2 and betabili depends on image_picker 0.6.0+2, video_trimmer is forbidden.
So, because betabili depends on video_trimmer ^0.1.2, version solving failed.
pub get failed (1; So, because betabili depends on video_trimmer ^0.1.2, version solving failed.)

[2020-04-30 14:59] ajanieniolasolomon commented on #1
Update  image_picker to 0.6.0+2

[2020-04-30 14:59] #1 closed

[2020-05-05 06:42] furthurr opened #2 "Error creating release iOS"
Hi bro. i can use my app on simulator and my device ios and android. but ...  i have this error when i try to create a release

`flutter build ios --release`

      "_OBJC_CLASS_$_MobileFFprobe", referenced from:
          objc-class-ref in flutter_ffmpeg(FlutterFfmpegPlugin.o)
      "_OBJC_CLASS_$_MobileFFmpeg", referenced from:
          objc-class-ref in flutter_ffmpeg(FlutterFfmpegPlugin.o)

[2020-05-05 07:40] sbis04 commented on #2
Hi, take a look at this thread for a probable fix: https://github.com/tanersener/flutter-ffmpeg/issues/109

[2020-05-07 06:30] PitiGo opened #3 "incompatible with flutter_localizations"
I get this message when using this library with flutter_localizations.

"Because every version of flutter_localizations from sdk depends on intl 0.16.0 and every version of video_trimmer depends on intl ^0.16.1, flutter_localizations from sdk is incompatible with video_trimmer."

I tried downgrading but didn't work.

[2020-05-07 06:55] sbis04 commented on #3
You can fix this by overriding the **intl** dependency. Just add the following line to your `pubspec.yaml` file:

[code]

[2020-05-07 08:17] PitiGo commented on #3
thanks!! that worked.

[2020-05-07 08:48] #3 closed

[2020-05-12 07:02] JamesBondPc opened #4 "Not able to specify a maximum output video length"
I want make this , this app is VN on App store , How to make this UI ?

[2020-05-12 08:01] sbis04 commented on #2
Closing this issue. @furthurr you can open if you face any further problem.

[2020-05-12 08:01] #2 closed

[2020-05-12 08:05] sbis04 commented on #4
You can use **CustomPaint** widget and **GestureDetector** for creating this UI. I have a similar implementation in my package, you can take inspiration from that. You can also use my package and make modifications in that to achieve this UI, as this is quite similar to it.

[2020-05-12 08:28] JamesBondPc commented on #4
Hi , I set&nbsp;viewerWidth  in
TrimEditor

but I can't edit

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Souvik Biswas"<notifications@github.com&gt;;
发送时间: 2020年5月12日(星期二) 下午4:05
收件人: "sbis04/video_trimmer"<video_trimmer@noreply.github.com&gt;;
抄送: "James Bond"<710774798@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [sbis04/video_trimmer] hi, I want make this  (#4)

Y

[2020-05-12 09:45] dwikresno opened #5 "path file after trim"
i can't find save file after trim

[2020-05-12 09:54] dwikresno commented on #5
libswresample   3.  6.100 /  3.  6.100
E/mobile-ffmpeg( 4772): /storage/emulated/0/WhatsApp/Media/WhatsApp: No such file or directory
I/flutter ( 4772): Got value
I/flutter ( 4772): find me File: '/storage/emulated/0/WhatsApp/Media/WhatsApp Video/VID-20200511-WA0001.mp4'

this error appear i think that because source path has space bar

[2020-05-12 09:54] #5 closed

[2020-05-12 10:26] sbis04 commented on #4
Currently, the package does not allow you to specify a maximum output video length. I already have this functionality in the list for an upcoming improvement and working on it.

[2020-05-12 13:34] kameshkarthi opened #7 "Load list of video files"
Hello sir, How can i load list of video files??
Good Job!!!

[2020-05-13 06:53] JamesBondPc opened #8 "How to add subtitles under the picture"
How to add subtitles under the picture

[2020-05-13 07:12] sbis04 commented on #7
I didn't quite understand your question. Why do you want to load multiple video files for trimming?

Do you want to trim multiple files at the same time? I don't think it is a good decision to do that.

If you still want to achieve that kind of functionality, then you can try to use this package or modify it as per your need.

[2020-05-13 07:18] sbis04 commented on #8
If I have understood your question correctly, you want to add subtitles to the images inside the trim viewer. So, for that, you can use **Stack** and position the **Text** on top of each image.

[2020-05-13 07:21] JamesBondPc commented on #8
I want to put it under the picture, and also want to make a timeline above the picture

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Souvik Biswas"<notifications@github.com&gt;;
发送时间: 2020年5月13日(星期三) 下午3:18
收件人: "sbis04/video_trimmer"<video_trimmer@noreply.github.com&gt;;
抄送: "James Bond"<710774798@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [sbis04/video_trimmer] How

[2020-05-13 07:21] kameshkarthi commented on #7
if i want share videos after trimming like whats app, then how can i do that??

[2020-05-13 10:37] dwikresno opened #9 "Error on original path file that has spacebar"
i try to put video from whatsapp folder whatsapp/whatsapp vIdeo/asd.mp4 this will be error cannot save

[2020-05-13 12:14] sbis04 commented on #7
You can access the file by its **path** and then you can perform any operation upon it.

[2020-05-13 12:28] sbis04 commented on #9
Thank you for reporting this bug. Working on a fix.

[2020-05-13 12:34] #9 closed

[2020-05-13 17:17] ThinkSimple opened #11 "Is it possible to add text with custom ffmpeg commands?"
Hey, I'm wondering if it would be possible to insert text inside a video. I tried using the drawtext filter but Im getting the error message "No such filter: 'drawtext'".

[2020-05-14 01:55] sbis04 commented on #8
By the picture, are you referring to the video viewer? You can add the subtitle simply by adding a **Text** widget under the video viewer as all the UI components of the **video_trimmer** are separate implementations, so you can arrange them in whatever fashion you want.

For the timeline, you can basically use the **VideoEditor** widget, it is a kind of timeline.

[2020-05-14 02:00] JamesBondPc commented on #8
like this

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Souvik Biswas"<notifications@github.com&gt;;
发送时间: 2020年5月14日(星期四) 上午9:55
收件人: "sbis04/video_trimmer"<video_trimmer@noreply.github.com&gt;;
抄送: "James Bond"<710774798@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [sbis04/video_trimmer] How to add subtitles under the picture (#8)

By the picture, are you referring t

[2020-05-14 02:05] sbis04 commented on #8
Do you have any other queries? Or you can just close this issue.

[2020-05-14 02:07] JamesBondPc commented on #8
How to achieve the effect like the picture, add gesture swipe, use padding to control it seems to be not effective

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Souvik Biswas"<notifications@github.com&gt;;
发送时间: 2020年5月14日(星期四) 上午10:05
收件人: "sbis04/video_trimmer"<video_trimmer@noreply.github.com&gt;;
抄送: "James Bond"<710774798@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: R

[2020-05-14 02:21] #8 closed

[2020-05-14 02:56] kameshkarthi commented on #7
I did it by passing the video file in trimmer.loadvideo() function instead of selecting from gallery..
Thank you so much sir....

[2020-05-14 03:58] DiksDev opened #12 "How to get video file that trimmed ?"

[2020-05-14 03:58] DiksDev opened #13 "How to get video file that trimmed ? I cant see on my storage"
Please suggest me

[2020-05-14 04:33] sbis04 commented on #12
Closing due to duplicate issue: #13

[2020-05-14 04:33] #12 closed

[2020-05-14 04:41] sbis04 commented on #13
In order to access the output video file outside the app, use the `storageDir` property in the `saveTrimmedVideo()` method to pass `StorageDir.externalStorageDirectory` for saving it in the external storage.

[2020-05-14 06:46] sbis04 commented on #7
Great! Closing this as the issue is fixed.

[2020-05-14 06:46] #7 closed

[2020-05-14 09:09] sbis04 commented on #11
The error related to **drawtext** usually occurs if **libfreetype** library is not present or enabled in the FFmpeg build, according to this [StackOverflow post](https://stackoverflow.com/questions/17623676/text-on-video-ffmpeg). But I am currently using full FFmpeg, so it should contain this library.

To enable this library, as far as I have understood you have to build FFmpeg from source using t

[2020-05-14 09:45] sbis04 commented on #11
You have to add the following in the `android/build.gradle`:
[code]

So, you won't get the error: "No such filter: 'drawtext'"

Next, you might face an error related to fonts, like this:
[code]

For fixing this you have to define a font configuration in my video trimmer package, like this:
[code]

For more information refer to the **Readme** here: https://github.com/tanersener/flutter-ffmpeg/tree/

[2020-05-14 12:26] DiksDev commented on #13
Hi....can you write that particular code section Bcz....im not getting

[2020-05-14 12:31] DiksDev commented on #13
Thanks......Got it !

[2020-05-14 13:17] sbis04 commented on #13
Closing this issue as it is fixed.

[2020-05-14 13:17] #13 closed

[2020-05-17 08:28] QueMarmota opened #17 "Trim Swipe Exceeds"
![Video_1589689730](https://user-images.githubusercontent.com/15443285/82140852-6bd41980-97f7-11ea-9dec-959ca18f512d.gif)

When swipe continues to start to end or end to start it exceeds the view and also the value.

[2020-05-17 10:51] kensou123 opened #18 "how to retrieve video trimmed from temporary directory?"
I want to load the output video file into my main page. Please suggest me

[2020-05-17 12:34] #17 closed

[2020-05-18 16:49] kensou123 commented on #13
@DiksDev Hi, sir. Can you give me some example to save the output video file to temporary directory?

[2020-05-18 18:10] sbis04 commented on #18
You can just use the **path** of the output video file and pass it in the video player controller, like this:

[code]

[2020-05-18 18:15] kensou123 commented on #18
I use storageDir: StorageDir.temporaryDirectory. Does it do anything?

[2020-05-19 05:17] sbis04 commented on #18
Yes, you can use `StorageDir.temporaryDirectory`, it is a kind of cache directory and can be cleared at any time.

You can get more info about the `StorageDir` types in the Docs: https://pub.dev/documentation/video_trimmer/latest/video_trimmer/Trimmer/saveTrimmedVideo.html

Okay, I understood you problem. There is no easy way to retrieve the output video path.

I will be deploying a fix pretty soo

[2020-05-19 05:33] sbis04 commented on #18
Your issue should be fixed with the **v0.2.2**

Check the example app for more info.

[2020-05-19 05:33] #18 closed

[2020-05-19 12:14] omercn18 opened #22 "Trimmed video first seconds sometimes stuck"
Hi!
First of all, I love this new package,
While I was using it, I realized that sometimes the video is stuck in the first few seconds after it was trimmed (but the audio is still playing).
I think that it is because of the FFmpeg command, but I'm not sure and couldn't find the exact reason.

[2020-05-19 12:16] omercn18 opened #23 "Saved video output return"
Hi!
In the new 0.22 release the saved output path is returned, but it starts and ends with quotes.
The result is that when I try to see if the file exists, it returns false and I have to subtract the first and last characters.

[2020-05-19 14:22] sbis04 commented on #23
Sorry to hear that, I will deploy a fix for that pretty soon.

[2020-05-20 05:00] sbis04 commented on #23
Fixed the issue in version 0.2.3

[2020-05-20 05:00] #23 closed

[2020-05-25 18:09] omercn18 commented on #22
@sbis04 Hi,
Did you find anything?

[2020-05-30 23:36] braysonjohn148 commented on #22
was using FFmpeg before this. It was also stucking. Anybody finds a better solution for this

[2020-06-11 13:03] wilfredonoyola opened #25 "Minimum Android version"
Thanks for this great package, it will be very useful for the new trends related to Videos.

I would like to know why the minimum version of Android is 24?

I suppose it has to do with the FFmpeg package that requires a minimum version of android.

Do you have a future plan to cover more versions until at least 23?

I see that at level 23 is 16.9% of the devices with this version.

I leave here th

[2020-06-12 17:07] braysonjohn148 commented on #25
i think he is using Ffmpeg which does require 24  and above, This comment should be seen by Ffmpeg also, as they can fix it.

[2020-06-12 17:09] braysonjohn148 commented on #22
Any new...

[2020-06-12 17:13] wilfredonoyola commented on #25
Of course @braysonjohn148 , But i have seen it. I do not sure if will work with api levels below of 24

![release](https://user-images.githubusercontent.com/1428168/84528760-7e7a2b00-ac9d-11ea-865b-7097ae1b53cb.PNG)

Reference: https://github.com/tanersener/flutter-ffmpeg#23-lts-releases

[2020-06-12 18:01] braysonjohn148 commented on #25
great!!!... i also changed mine to 24. Thanks now i have to change back to 16

[2020-06-12 18:39] braysonjohn148 commented on #25
What if you the same package but instead of using
`ext.flutterFFmpegPackage = 'full'`
as he instructed(that allow 24 and above),
You use `ext.flutterFFmpegPackage = 'full-its'` as the FFmpeg says(that allows 16 and above).

_did not test it yet, just thinking._

[2020-06-17 08:11] sbis04 commented on #25
Sorry for the confusion. I have updated the Readme regarding this package version.

[2020-06-17 08:16] sbis04 commented on #22
Hi @omercn18 @braysonjohn148, I took a look at the issue and found out that giving the time in the formats like, `HH:MM:SS.xx` or `SS.xx` is causing this issue.

Upon further investigation, I found out that removing these decimal places present after the seconds is resolving this issue.

So, I have updated this in the version 0.2.4

Let me know if it fixes the issue.

[2020-06-17 08:19] #25 closed

[2020-06-17 10:54] omercn18 commented on #22
Well, it seems like 0.2.4 is not public yet.
I'll update when it will be.

[2020-06-17 12:48] sbis04 commented on #22
Now the v0.2.4 is public, do give it a try @omercn18

[2020-06-18 13:47] saurabhrayakwar opened #27 "Not able to set max video duration"
Steps to reproduce -

1. Use imagepicker.pickVideo to select video from file manager
2. video_player plays the video successfully
3. Use trimmer to trim the picked video
4. Save the trimmed video
5. imagepicker.pickVideo the trimmed video to select the trimmed video now

Observation -

1.  Trimmed video is not initialisating and is not playable in the [video_player](https://pub.dev/packages/video_

[2020-06-18 13:49] saurabhrayakwar commented on #27
@sbis04

[2020-06-18 14:18] saurabhrayakwar commented on #27
This could be related - https://stackoverflow.com/questions/48356188/flutter-video-player-not-playing-video-saved-to-application-directory

[2020-06-18 14:51] saurabhrayakwar commented on #27
Actually I figured out the reason after a bit of manual testing. If I trim the video to less than 1s and between 0s & 1s, the duration of the video shows up as zero in the Android File manager and hence the video player is unable to initialise that particular video.

[2020-06-18 20:29] saurabhrayakwar commented on #27
@sbis04  Is there a way to figure out `Duration` of the video after trimming ?

[2020-06-19 02:06] sbis04 commented on #27
Hi @saurabhrayakwar, currently there is no way to set the maximum trimmed video duration. I know this is a really important feature and is currently in development. However, you are open to submit PR.

[2020-06-19 02:10] sbis04 commented on #27
Closing this issue as there is already an issue regarding this.

Duplicate of: #4

[2020-06-19 02:10] #27 closed

[2020-06-20 11:02] vercorro commented on #22
Changed the command like you did in v0.2.4, the first frames still freezing :/ . Please help

[2020-06-20 11:07] omercn18 commented on #22
@sbis04 Well same as what @vercorro said, first frames are freezing..

[2020-06-20 12:22] sbis04 commented on #22
Hi @vercorro @omercn18 Can you please cross-check that you are using the version **0.2.4**?

In your `pubspec.yaml` file import it like:
[code]
That is, without the carat sign.

Also, go to `pubspec.lock` file and make sure that the version is correct.

Just let me know about this?

[2020-06-20 12:29] vercorro commented on #22
Hi sbis04, thank you for your reply and your contribution into flutter community.  I actually imported your whole library files into my projet so I dont use it as a dependency. It works well besides those first frames. I looked into your update for the 0.2.4 and the only modification is the command line (correct me if I'm wrong). So I replaced the line exactly like you did and still have freezing

[2020-06-20 13:34] omercn18 commented on #22
Yes, version is 0.2.4

[2020-06-20 14:30] braysonjohn148 opened #28 "Execution failed for task ':app:transformClassesWithMultidexlistForRelease"
**Description**
i tried

ext.flutterFFmpegPackage = 'min-lts'.

defaultConfig {
        // TODO: Specify your own unique Application ID (https://developer.android.com/studio/build/application-id.html).
        applicationId "{///}"
        minSdkVersion 16
        targetSdkVersion 28
        multiDexEnabled true
        versionCode flutterVersionCode.toInteger()
        versionName flutterVersionN

[2020-06-22 18:28] nouveau-riche opened #29 "How can we get saved trimmed file in File(data type) rather getting in Future<String>"
Please Help!

[2020-06-25 06:44] ubaidsuhail opened #30 "Thumbnail images of video is not showing correctly?"
Hi,When I open videos the thumbnail images that come bottom are not loading correctly?Once the thumbnail loaded and suddenlt they skipped?
Error:This an error shown below:
               "getFrameAtTime: videoFrame is a NULL pointer"

[2020-06-27 07:37] leochiu-work commented on #22
I also faced this issue in version 0.2.4, is there any update?

[2020-06-28 07:12] nouveau-riche commented on #29
I Found it!

[2020-06-28 07:12] #29 closed

[2020-06-28 11:26] Mangielijah opened #31 "Trimming videos less than 1sec"
The is an issue with trimming videos less than 1 second  (any time less than 0:00:00 which can be 0:00:00.30), the trimmed video cannot be played

[2020-06-29 14:30] AxesandGrinds commented on #4
Please, is there any update on this? It's been almost 2 months, we need this feature.

[2020-06-29 14:57] AxesandGrinds commented on #4
If there isn't a limit for maximum output video length then this package isn't useful for most people trying to trim videos especially for an instant messaging app wherein videos have to be trimmed to predetermined maximum. I don't think this is an incredibly hard feature to role out.  I'm looking at the trim_editor.dart where the code has to be written, but I don't have knowledge of how _endPos a

[2020-06-29 15:04] wilfredonoyola commented on #4
Hey @AxesandGrinds, you could try fix it and send a PR. ?

[2020-06-29 15:24] AxesandGrinds commented on #4
@wilfredonoyola , I'm not able to fix it. I don't understand the Offset and deltas from DragUpdateDetails enough to make the change. Sorry.

[2020-06-29 15:49] wilfredonoyola commented on #4
OK @AxesandGrinds , We are waiting by @sbis04

[2020-06-30 04:06] sbis04 commented on #4
Sorry for not releasing this feature for so long. As I was busy with some other projects, I wasn't getting much time to work on this. Though I had started working on this feature, it's not ready to be released and some work is left.

Please wait for some more time @AxesandGrinds @wilfredonoyola @JamesBondPc

[2020-07-02 05:51] avvari-da opened #32 "App size increased heavily"
This is a great plugin, but my app bundle size increased by about 40 mb after adding this package.

Is there a way to reduce this? Or is it something I can't avoid?

<details>
<summary>flutter doctor</summary>

[code]
</details>

[2020-07-02 14:44] wilfredonoyola commented on #32
@dheeraj2dj I think this was added for the package "[flutter_ffmpeg](https://pub.dev/packages/flutter_ffmpeg)" because the video_trimmer use flutter_ffmpeg as manager the video editor.

But, I think is not posible reduce the size for your app while use the package flutter_ffmpeg.

Let me know your thoughts @sbis04

[2020-07-02 16:06] AxesandGrinds commented on #25
Your instructions are not clear enough. Do I need to create a local package of flutter_ffmpeg in order to change to ext.flutterFFmpegPackage = 'full-its'? Because when I add ext.flutterFFmpegPackage = 'full-its' to the build gradle file, it still gives me the error that minimum api is 24. Please, create more precise instructions or release an alternative package with the LTS configuration already

[2020-07-02 16:09] wilfredonoyola commented on #25
@AxesandGrinds Could you check this example for [code line](https://github.com/sbis04/video_trimmer/blob/master/example/android/build.gradle#L29)?

[2020-07-02 16:46] AxesandGrinds commented on #25
I added that, it's still giving me the same error:

[code]

[2020-07-02 17:18] AxesandGrinds commented on #25
I fixed the issue by adding to pubspec.yaml

[code]

I'm not sure why it was still picking up the non-lts package even though I had made a video_trimmer a local dependency an added that code ^ there as well. But adding it to my main pubspec.yaml file fixed the issue.

[2020-07-03 13:58] AxesandGrinds opened #33 "startValue and endValue is in seconds, milliseconds, or microseconds?"
Your readme and api code does not say what time the startValue and endValue is measured in. Is it measured in seconds, milliseconds, or microseconds? Please clarify this and update readme.

[2020-07-04 02:14] leochiu-work commented on #32
For the flutter_ffmpeg packages listed here https://github.com/sbis04/video_trimmer#ffmpeg-release

Will the plugin still working if we use min-lts? And will the app size smaller as well?
Currently I am using full-lts.

[2020-07-04 06:42] dheeraj2dj commented on #32
@leochiu-work I was using `min-gpl-lts`, still the huge size. Will try `min-lts`

[2020-07-04 15:19] braysonjohn148 commented on #33
i also want to set a certain video length. How can i do so.

[2020-07-04 15:22] braysonjohn148 commented on #4
Any new update.

[2020-07-05 18:23] AbhayVAshokan commented on #33
Yes. How can we set the video length to like 30 seconds max? To implement the same, I need to know what the ```startValue``` and ```endValue``` mean. Does it represent milliseconds or seconds?

[2020-07-05 18:43] braysonjohn148 commented on #33
i think its miliseconds. I tried but i fails. I tried to check if(){} on the onchange but i can stop the scroller from moving

[2020-07-17 16:56] Kabilan21 opened #35 "Not working with videos by giving the path directly."

[2020-07-19 01:27] sbis04 commented on #28
Hi @braysonjohn148, can you please send me the `flutter doctor` result?

I can see from the error messages that there is an issue with the `cloud_firestore` package:

[code]

Please try and check using the example app with the `min-lts` version. Let me know whether it is working.

[2020-07-19 02:04] sbis04 commented on #22
The issue with the starting and ending video frames freezing still persists. Changing the FFmpeg trim video start & end position to **seconds** does not fix the issue, so I will be reverting it to **milliseconds** as before in the `v0.2.5`.

As per [this](https://video.stackexchange.com/a/16640) thread, the freezing issue occurs due to the video not being cut from an `I-frame`. But, I couldn’t yet

[2020-07-19 02:16] sbis04 commented on #31
Hey @Mangielijah, there is an issue of video frames freeing towards the start and end positions, for fixing this the FFmpeg trimmed video length was set to **seconds**. Refer: #22

But, as it is not fixing that issue I have reverted it to **milliseconds** in `v0.2.5`.  So, this issue should be fixed now.

[2020-07-19 02:16] #31 closed

[2020-07-19 02:18] sbis04 commented on #33
Hey @AxesandGrinds, the `startValue` & `endValue` is currently measured in **milliseconds** in `v0.2.5`. I have also updated the **API Docs** for this.

[2020-07-19 02:18] #33 closed

[2020-07-19 02:20] sbis04 commented on #33
@AbhayVAshokan @braysonjohn148 currently the package does not let you specify any maximum trimmed video length. I am currently working on this issue, you can track it here: #4

[2020-07-19 02:25] sbis04 commented on #30
Hey @ubaidsuhail, please send me your `flutter doctor` result. Also, is this issue occurring in the example app as well?

[2020-07-19 11:55] braysonjohn148 commented on #28
fixed thank you

[2020-07-19 11:56] braysonjohn148 commented on #28
waiting for solution #4

[2020-07-19 11:58] braysonjohn148 commented on #4
hello. any updates

[2020-07-19 11:59] #28 closed

[2020-07-23 11:54] Mangielijah opened #37 "Profile Mode Error"
This plugin works perfectly for me when i am in debug mode, but in profile mode the is an error, widgets do not display, just a blank grey screen

**### Debug Mode**
![WhatsApp Image 2020-07-23 at 12 46 17 PM](https://user-images.githubusercontent.com/15947050/88283442-470e8d80-cce3-11ea-99bd-f61e753eabc1.jpeg)

**### Profile Mode**
![WhatsApp Image 2020-07-23 at 12 49 55 PM](https://user-images.g

[2020-07-23 12:38] sbis04 commented on #37
Hey @Mangielijah, I have tested the package on **debug**, **profile**, and **release** modes and it is working fine in all of them.

Are you getting any errors on the console while running on the device in profile mode?

[2020-07-23 14:43] Mangielijah commented on #37
Launching lib\main.dart on Pixel 3 XL in profile mode...
√ Built build\app\outputs\apk\profile\app-profile.apk (64.2MB).
Connecting to VM Service at ws://127.0.0.1:6522/3g7TICJj24w=/ws
I/flutter (25548): we got the data + Instance of '_MapStream<QuerySnapshotPlatform, QuerySnapshot>' this is name  mangi
I/example.chatap(25548): Waiting for a blocking GC ProfileSaver
I/BiChannelGoogleApi(25548): [F

[2020-07-24 03:00] tinnit1 commented on #22
This problem is solved by changing this line -i "$ _videoPath" -ss $ startPoint -t $ {endPoint - startPoint} by this -i "$ _videoPath" -ss $ startPoint -to $ {endPoint - startPoint} and add -copyts to the line -c copy

[2020-07-24 03:05] tinnit1 commented on #30
Hello, I have this problem when starting the video, even with the test project, any ideas.
![DFD2699B-0263-46C9-A87B-1958EE562235](https://user-images.githubusercontent.com/45150540/88357345-8e6f3b00-cd30-11ea-9d14-59dfd04c4688.PNG)

[2020-07-24 03:06] tinnit1 commented on #30
Hello, I have this problem when starting the video, even with the test project, any ideas.
![A9E5AA8A-D0C9-4CDE-B68A-C7EA6AB5A11C](https://user-images.githubusercontent.com/45150540/88357419-cd9d8c00-cd30-11ea-81b6-a75282f48b61.JPG)

[2020-07-24 04:15] sbis04 commented on #37
Most probably "gray screen" is an indication of error in the **release** mode, similar to the "red error screen" in **debug** mode.

Refer to this issue: https://github.com/flutter/flutter/issues/53482

[2020-07-24 04:18] sbis04 commented on #30
@tinnit1 I didn’t quite understand the issue you are facing. Can you please share more details?

[2020-07-24 04:21] tinnit1 commented on #30
the problem is that apparently when the image is longer than it is wide, fill in the missing with black spaces, I think that could be it, since with square videos I don't have that problem, this is a 4: 3 or 16: 9 video

[2020-07-24 04:41] sbis04 commented on #22
@tinnit1 I tried with the following changes, but still the video freezes for some time at the starting point:

[code]

[code]

[2020-07-24 04:52] sbis04 commented on #30
Yeah, it is because for each thumbnail image it is set to `BoxFit.fitHeight` and the size of the thumbnail image is square. So, it fills up the remaining space with black bars.

Thanks for reporting this. I will try to define one more property for `TrimEditor` which will let you specify the image **fit** type of each thumbnail image.

[2020-07-24 04:53] tinnit1 commented on #22
Try this, in this order. if not work maybe it can be an instance ffmpeg that it have conflict.

`String _trimLengthCommand = '-ss $startPoint -i "$_videoPath" -to ${endPoint - startPoint}' -c copy -copyts $OutputPath;`

[2020-07-24 07:04] ubaidsuhail commented on #30
You can also use Boxfit.fill to cover the remaining space

On Friday, July 24, 2020, Souvik Biswas <notifications@github.com> wrote:

[2020-07-24 09:10] sbis04 commented on #22
Using this is causing an unusual timeline, i.e. the start time doesn't begin from 0. It starts from the start time in which position the video is cut from the original one. Check the screen recording:

![trimming_issue](https://user-images.githubusercontent.com/43280874/88376470-1a2da980-cdbb-11ea-8ef3-12f207ff5216.gif)

[2020-07-24 15:55] sbis04 commented on #30
Added a new property called `fit` to `TrimEditor` widget which will let you specify the image **fit** type of each thumbnail image.

Refer to: 30f6015afcc33dbd2586d07718f9c8f0a33ab5ef

[2020-07-24 15:55] #30 closed

[2020-07-24 15:59] sbis04 commented on #22
A temporary fix has been deployed in **v0.2.6**: Added a new property to `saveTrimmedVideo()` method called `applyVideoEncoding` which will let you specify whether to re-encode the trimmed video.

**NOTE:** Applying this will take a significantly greater amount of time to process the output video.

Refer to: 30f6015afcc33dbd2586d07718f9c8f0a33ab5ef

[2020-07-28 10:32] Yaungku opened #38 "Please help me.Output path have no metadata"

[2020-07-29 09:41] saurabhunify opened #39 "Set max duration of the video"
I am using the video_trimmer for my project. I want to trim the video to maximum 15 secs. By default whenever I select any video it is selected as whole, for example if I select a video of 60 secs the default selected video covers all 60 secs. But I want that even if the source video is a length greater than 15 secs it should select only 15 seconds from the start like the video trimmer in whatsapp

[2020-08-04 04:46] sbis04 commented on #35
Hi @Kabilan21, can you please provide an example, what you want to achieve exactly? Currently, the `loadVideo` method of this plugin only accepts video files directly.

[2020-08-04 04:51] sbis04 commented on #38
Hi @Yaungku, can you please provide more details about the issue you are facing?

[2020-08-04 09:11] sbis04 commented on #39
Duplicate of: #4

[2020-08-04 09:11] #39 closed

[2020-08-04 09:36] sbis04 commented on #4
**Finally, the most awaited feature is here! (v0.2.7)**  🎉

Sorry for this huge delay.

I have added a new property called `maxVideoLength` for specifying the **max length** of the output video.

Refer: 53ddb9f0c63b8312f0cf10fa19d64beee4a4552a

[2020-08-04 09:36] #4 closed

[2020-08-04 09:37] sbis04 commented on #37
**Closing this issue**, as it is not related to this plugin.

[2020-08-04 09:37] #37 closed

[2020-08-04 10:14] Yaungku commented on #38
the problem is solved now. mp4 audio cannot be encoded with "-c:a copy". So, ffmepg don't work and create nothing. So , there is no file in the path. Instead of using "-c:a copy", I use "-c:a aac" to encode mp4 audio and it work.

[2020-08-04 10:14] #38 closed

[2020-08-04 10:14] Yaungku commented on #38
Thank for the reply bro

[2020-08-04 13:48] Kabilan21 commented on #35
thanks for the reply.It is working

[2020-08-04 13:48] #35 closed

[2020-08-06 04:32] Janvi1310 opened #40 "crashing app"
i am not able to run this package in minsdklevel 16

[2020-08-06 07:57] sbis04 commented on #40
Can you please share your `flutter doctor` result?

Also, share a **screenshot** of the error.

[2020-08-06 09:11] RalphMarvin opened #41 "Why Isn't API Level higher than 16 And less than 24 Supported"
I have an App that is using lots of libraries and plugins that targets API level 21 but i cant get your plugin to work with it.

[2020-08-06 12:58] sbis04 commented on #41
Hi @RalphMarvin, the package is tested on `minSdkVersion 21` as well.

Which **FFmpeg** package name are you using from [this list](https://pub.dev/packages/video_trimmer#packages-list)?

If you are using it on **16 < API < 24**, then `LTS Release` is only supported.

[2020-08-06 14:20] RalphMarvin commented on #41
I used 'full-lts' FFmpeg package name

On Thu, Aug 6, 2020 at 12:59 PM Souvik Biswas <notifications@github.com>
wrote:

[2020-08-06 14:26] sbis04 commented on #41
Can you please share a screenshot of the error?

[2020-08-07 10:10] RalphMarvin commented on #41
Hi there, I seemed to have done something wrong. It builds successfully
now. Thanks for your help. I'll close the issue now.

On Thu, Aug 6, 2020 at 2:26 PM Souvik Biswas <notifications@github.com>
wrote:

[2020-08-07 10:11] #41 closed

[2020-08-08 15:13] denniswhchung opened #42 "Multiple VideoViewer is same page"
Can I use multiple VideoViewer and Trimmer in same page?
I have more than one video loaded with PageView.builder
I tried couple ways to develop but failed.

Looking forward to your advice.

[2020-08-12 04:32] kameshkarthi opened #43 "Move whole slider"
Hello sir, Please add the functionality to move the whole slider, when the maximum duration is reached.

[2020-08-14 07:19] chinu999 opened #44 "Video not saving"
some times video save at android/data/com.trimmer.videotrimmer/files/Picture/(video saved here)

but some times it did not save at that place

and where can i find this location
/data/user/0/com.trimmer.videotrimmer/app_flutter/Trimmer/image_picker6447870776611015947_trimmed:Aug14,2020-08:25:17.mp4
i did not get it any where in my phone

[2020-08-15 01:35] sbis04 commented on #44
Did you use the default storage option of the package or anything other like `StorageDir.externalStorageDirectory`?

[2020-08-15 02:50] chinu999 commented on #44
Thanks for replying I figure out the problem what is going on here . Actually in build.gridle file I target to sdk 29 but when I target to sdk 28 everything works fine.

[2020-08-15 10:23] RalphMarvin opened #45 "Having Issues On iOS Platform 10.0"
Facing build issues on iOS platform 10.0, am using the 'full-lts' package.
I get the ff error:

[code]

[2020-08-15 15:14] sbis04 commented on #45
Do check this issue: https://github.com/tanersener/flutter-ffmpeg/issues/36
Also this StackOverflow thread: https://stackoverflow.com/questions/6429494/undefined-symbols-for-architecture-armv7

But first of all, try this:
* Run the following from the root folder:

[code]
* Then, from the `ios` folder run:

[code]

* Now, try running the app again.

[2020-08-17 10:54] PhantomRay commented on #43
check this out: https://github.com/huangred/video_trimmer/commits/master

Still buggy, but has the feature you want.

[2020-08-18 10:16] RalphMarvin commented on #45
None of the solutions from the above links worked. Still facing the same issue

[2020-08-18 11:48] sbis04 commented on #45
Okay, I now understand. It is actually happening due to the implementation of [flutter_ffmpeg](https://pub.dev/packages/flutter_ffmpeg). Unfortunately `Flutter v1.20.x` changed the `Podfile` format. It will soon be fixed by the creator of **flutter_ffmpeg** package.

Refer to this issue: https://github.com/tanersener/flutter-ffmpeg/issues/175

[2020-08-19 15:57] SanjayDev01 opened #46 "How to get access to the video controller ?"
hi I want to use the video controller but i m not able to find the currently using controller in the VideoViewer()
Please help!

[2020-08-20 09:55] #45 closed

[2020-08-20 13:02] chinu999 opened #47 "video pass"
when ever i try to pass a video to other class it says

The getter 'path' was called on null.
Receiver: null
Tried calling: path

i tried this code:

[code]

is there any way i can save video in my dir something like this:

[code]

[2020-08-20 14:54] sbis04 commented on #47
You can specify the storage directory by specifying the property `storageDir` in the `saveTrimmedVideo()` method. Also, you can specify the `videoFileName` and `videoFolderName` property to give a custom name to them.

Are you getting the output video path, when you print it?

[code]

If you want to load the video from the output path on your `Edit` page, you can use the following code:

[code]

[2020-08-25 07:14] JamesBondPc opened #48 "TrimEditor Unable to zoom"
GestureDetector(
                    onScaleUpdate: (ScaleUpdateDetails details) {
                      print("scale ");
                      setState(() {

                        if( details.scale.clamp(.8, 10.0) == 1)
                          {
                            return;
                          }
                        _width = 200 * details.scale.clamp(.8, 10.0);

[2020-08-25 11:17] rithikjain opened #49 "Working in debug mode but shows grey screen in profile and release mode"
#37 The referenced issue had the same problem. I am running oreo on phone.
I suspect there is some codec issues with ExoPlayer, please look into as I really like the video_trimmer and need it in my app.
I am attaching output of the error that I am getting and of flutter doctor.

[code]

Flutter doctor

[code]

[2020-08-25 12:58] rithikjain commented on #49
Fixed it. Was some UI issue. Sorry.

[2020-08-25 12:58] #49 closed

[2020-08-29 21:25] VrushabhDesai3 commented on #47
Can you please explain in detail with example?

[2020-09-03 12:04] leochiu-work commented on #22
Thanks for the temporary fix in v0.2.6.
After setting applyVideoEncoding = true, the video quality becomes bad.
Is it expected?

[2020-09-04 13:03] SonamKamble commented on #44
@sbis04 I used default storage option , also target sdk is 28. Still getting the same issue as above. Kindly guide me..

[2020-09-06 21:17] AxesandGrinds commented on #40
My app is crashing as well with the following code:

[code]

[2020-09-09 00:05] PhantomRay opened #50 "iOS force to compress video"
Hi there,
In iOS, once a video is selected, the video is compressed before going to trim interface, while this step is skipped in Android.

Any hint to remove this behaviour in iOS? It causes the video being proccessed (compressed) twice resulting bad quality.

[2020-09-09 12:56] masfour7 commented on #32
@dheeraj2dj Have you tried using the min-lts?

[2020-09-09 13:35] dheeraj2dj commented on #32
@masfour7 yea, but no advantage. Reduced just 1-2 mb

[2020-09-09 14:36] laithsiam1 opened #51 "empty file"
After trimming the video, when I create a file object from the returned path, I get an empty file.

Future<String> _saveVideo() async {

    setState(() {
      _progressVisibility = true;
    });

    String path = await widget._trimmer.saveTrimmedVideo(
      startValue: _startValue,
      endValue: _endValue,
      storageDir: StorageDir.temporaryDirectory,
    );

    File file = File(path);

[2020-09-09 15:05] laithsiam1 commented on #51
So, I tried it on a real device and it worked well.
But on the emulator, it gives me an empty file.

[2020-09-10 06:37] JamesBondPc opened #52 "Zoom time axis, when the video is lengthy"
How to zoom this time axis, when the time axis is very long, zooming changes the width, it takes a long time to load images

[2020-09-12 05:57] PhantomRay commented on #43
In my own implementation, I can move the whole video instead of slider.

  <img src="https://github.com/huangred/video_trimmer/raw/master/screenshots/editor_demo.gif" alt="Trim Editor" />

[2020-09-12 06:24] kameshkarthi commented on #43
Good work bro!!! Thanks...

[2020-09-15 10:32] foxy17 commented on #22
it becomes way worse than normal quality and the drop is quite noticeable when the original video is of 720p resolution

[2020-09-23 01:28] masfour7 commented on #22
No solution yet?

[2020-09-23 01:35] masfour7 commented on #22
did anyone find any solution to this?

[2020-09-28 18:37] shreyaspapi opened #53 "Readme misleading"
Can we remove these lines from readme and just add refer flutter_ffmpeg installation?

- Replace with the following in the # Plugin Pods section of the ios/Podfile:

[code]

[2020-10-09 08:57] #53 closed

[2020-10-09 08:59] sbis04 commented on #47
I have included an example now.

[2020-10-09 08:59] #47 closed

[2020-10-09 09:00] #51 closed

[2020-10-09 09:00] #44 closed

[2020-10-09 09:00] #40 closed

[2020-10-10 03:51] sbis04 commented on #52
I am thinking of an implementation of this. It will soon be available in the package.

Closing the duplicate of this issue: #48

[2020-10-10 03:52] sbis04 commented on #48
Closing this as it is similar to this issue: #52

[2020-10-10 03:52] #48 closed

[2020-10-10 03:59] sbis04 commented on #42
Though I have not yet tried this, I believe there would be an issue with the multiple controllers and it would also be very memory hungry.

One suggestion is, you can load multiple videos on the page but keep one Trimmer. Then switch between videos to show the Timmer accordingly.

If you can provide more info on your implementation, I may help better.

[2020-10-10 04:04] sbis04 commented on #50
I am not familiar with this. Does it really compress the video?

Can you please provide me more information on this issue @PhantomRay ?

[2020-10-10 04:06] PhantomRay commented on #50
I found out that it's more of an iOS specific behavior when using file picker plugin.

[2020-10-10 07:01] sbis04 commented on #50
Yeah, I am not sure if it can be prevented and as I am using the file picker plugin in this package there is that similar behavior.

[2020-10-15 20:41] omercn18 commented on #22
@sbis04 Hi, do you see any good fix for this issue coming soon?
applyVideoEncoding takes a lot of time and destroys the video.

[2020-10-18 00:14] courtneypresto commented on #22
Hey @omercn18 and @sbis04 I found a really easy fix.
Right how you have this:
`String _trimLengthCommand = '-i "$_videoPath" -ss $startPoint -t ${endPoint - startPoint}';`

And you need to change it to this: `String _trimLengthCommand =
        ' -ss $startPoint -i "$_videoPath" -t ${endPoint - startPoint}';`

[2020-10-18 15:32] kasyrm commented on #22
Awesome, it works!
Thanks 👍

[2020-10-20 09:22] Creolophus opened #58 "On iOS, VideoViewer can not be sought to certain seconds by VideoPlayerController"
Thanks for your gorgeous package!

Please check the GIF below,

![seek_issue](https://user-images.githubusercontent.com/7787790/96566539-442e3380-12f8-11eb-816e-8c7b20799b53.gif)

[2020-10-21 19:04] ArjanAswal commented on #22
@courtneypresto Thanks a lot for finding this amazing solution! I created a [PR](https://github.com/sbis04/video_trimmer/pull/59#issue-507730609) with this change. The only problem being that video duration gets shortened by exactly 600ms.

So I changed the command to
`    String _trimLengthCommand = ' -ss $startPoint -i "$_videoPath" -t ${endPoint - startPoint + durationCorrection}';
`

@sbis04

[2020-10-23 09:06] sbis04 commented on #22
@ArjanAswal @kasyrm @courtneypresto This solution had been presented long before by @tinnit1, I had tested this at that time, but this results in a much worse scenario because if the video doesn't start from the initial starting point then the timeline gets distorted, and sometimes that weird trimmed video isn't even playable. Refer: https://github.com/sbis04/video_trimmer/issues/22#issuecomment-6

[2020-10-23 11:53] ArjanAswal commented on #22
@sbis04 Retrieving keyframes of the video can be implemented by using the `ffprobe -show_frames` command. It can take a bit of time to complete although I've never tried it.  That's one way. I'll look into it.

Also, courtneypresto's solution still stands good if initial position of video is zero, atleast we can implement it in that special case.  We can have best of both worlds until we find the

[2020-10-24 00:46] courtneypresto commented on #22
Hmm okay I haven't actually tried it yet but I just found [this solution](https://github.com/mifi/lossless-cut/pull/13#issuecomment-419737980) which distinguishes a normal cut (nc) with a keyframe cut (kc)... and doesn't need the cut to actually start at 00:00.

Someone provided an example [here](https://github.com/mifi/lossless-cut/pull/13#issuecomment-447127223).

Seems promising! @ArjanAswal @s

[2020-10-24 06:39] ArjanAswal commented on #22
@courtneypresto Adding `-avoid_negative_ts make_zero` rectifies the problem that @sbis04 mentioned [here](https://github.com/sbis04/video_trimmer/issues/22#issuecomment-663434391).

I think we have now solved the issue. The only problem being that the starting point of the trimmed video picks the keyframe that is earlier instead of the later one.
For example, we want to trim a video from 10s to 50

[2020-10-26 06:23] JamesBondPc commented on #52
When will this function be available ？

[2020-10-29 16:18] jmmaxwell opened #61 "Extract single frame from video"
Is it possible to extract a single frame from a video using this trimmer? If not, is that an enhancement you would consider adding? Regardless, thanks for your excellent package!

[2020-10-30 11:15] qbait commented on #58
Are you planning to implement it @sbis04 ?
It would improve the UX by far.
Also, refreshing `VideoViewer` when dragging the start and stop in `TrimEditor` (on Android and iOS) would be a great addition?

[2020-10-30 11:15] qbait commented on #58
Are you planning to implement it @sbis04 ?
It would improve the UX by far.
Also, refreshing VideoViewer when dragging the start and stop in TrimEditor (on Android and iOS) would be a great addition.

[2020-11-02 21:27] nkenna opened #62 "Make time format MM:SS"
how can  I change the time format from hh:mm:ss to mm:ss

[2020-11-04 14:32] themadmrj commented on #32
There are already existing native libraries doing the heavy lifting. I could write an Android plugin within 2 weeks, but don't have any iOS knowledge. If someone can write the iOS counter part, we could setup a native lib to avoid using ffmpeg. There is no other solution to the size problem.

[2020-11-05 10:30] JamesBondPc commented on #52
Almost a month has passed and this feature has not been added yet. Is it because no one maintains it?

[2020-11-06 00:42] mohyM opened #65 "ffmpg error in your pods"
[!] CocoaPods could not find compatible versions for pod "flutter_ffmpeg/https":
  In Podfile:
    flutter_ffmpeg (from `.symlinks/plugins/flutter_ffmpeg/ios`) was resolved to 0.3.0, which depends on
      flutter_ffmpeg/https (= 0.3.0)

Specs satisfying the `flutter_ffmpeg/https (= 0.3.0)` dependency were found, but they required a higher minimum deployment target.

[2020-11-06 15:58] BrianTum opened #66 "Could not resolve the package 'video_trimmer'"
Installed the package, the run pub get then throws this error.

Error: Could not resolve the package 'video_trimmer' in 'package:video_trimmer/video_trimmer.dart'.
lib/editor/video_edit/video_editor.dart:6:8: Error: Not found: 'package:video_trimmer/video_trimmer.dart'
import 'package:video_trimmer/video_trimmer.dart';
       ^

Any suggestions on how to solve?

[2020-11-07 21:07] BrianTum commented on #66
Solved: file_picker package from pubspec.yaml file and works fine now!

[2020-11-07 21:07] #66 closed

[2020-11-15 14:47] dannycortesv opened #67 "Support for latest video_player plugin"
I can't update video_player plugin to 1.0.0 due that video_trimmer doesn't support it, will be great to add support :D Thanks for your amazing work mate!

[2020-11-19 11:33] RalphMarvin commented on #67
This is very important. I need this as well.

[2020-11-19 17:16] #67 closed

[2020-11-19 17:17] sbis04 commented on #67
I have updated the plugin versions to the latest ones.

[2020-11-19 17:19] sbis04 commented on #65
I think your issue got solved, according to this conversation: https://github.com/tanersener/flutter-ffmpeg/issues/225

[2020-11-19 18:12] #22 closed

[2020-11-19 18:23] sbis04 commented on #61
I think what you want to get is a single image of a particular frame from the video. Then, for that purpose, there is already a plugin available: [video_thumbnail](https://pub.dev/packages/video_thumbnail).

[2020-11-19 18:40] sbis04 commented on #58
@Creolophus I think what you meant is the TrimEditor widget. Yes, currently dragging the endpoint beyond the defined maximum limit, doesn't update the start position. So, you have to drag the start position, and then again you will be able to drag the end position.

Yes @qbait, I will be implementing this soon.

There is already an issue regarding this, so I am closing this. Refer: #43

[2020-11-19 18:40] #58 closed

[2020-11-19 18:45] #42 closed

[2020-11-19 18:46] sbis04 commented on #50
Closing this, as it is not directly related to this package.

[2020-11-19 18:46] #50 closed

[2020-11-19 18:49] jmmaxwell commented on #61
Hi Souvik, thanks for your response! I don't actually need to create video thumbnails (though thank you for pointing me toward that package). I'm currently using the trimmer to allows users to extract multiple short GIFs from a single long video. I'm interested in allowing them to extract many images from that same video just like I'm allowing them to extract GIFs. Does that make sense?

[2020-11-19 19:24] dannycortesv commented on #67
This is great, thank you Souvik!!!

[2020-11-20 03:29] sbis04 commented on #61
Yes, I understood. I believe that can also be done using the `video_thumbnail` plugin. You can define the time (in ms) from where you want to take the image, and set the image quality to 100%, so it will generate a high-quality image. So, you will get images generated from your defined timestamp.

If there is already an implementation of this, I think it's not wise to do it again.

Actually, I am

[2020-11-25 05:01] yoonjiyong opened #71 "/data/user/0/MyProject/files/ffmpeg": error=13, Permission denied"
Hi,

I changed targetSdk 29 for upload google playstore. ( google targetSdk policy )

Now I got this error

when I click (button),  phone die immediately
these code
`await _trimmer
    .saveTrimmedVideo(startValue: _startValue, endValue: _endValue)
    .then((value) {
  setState(() {
    _value = value;
  });
})`

and error message like this
E/FFmpeg  ( 9618): java.io.IOException: Cannot run progr

[2020-11-25 12:05] maxsap commented on #43
wouldn't it make sense to open it as a PR to this one as well?

[2020-11-25 12:28] PhantomRay commented on #43
This is a very different approach as how to trim video from UX perspective. Plus I have other requirements. So I have to create my own repo.

[2020-11-25 16:52] sbis04 commented on #71
I think this issue is related to [[Android Q Beta] Apps can no longer execute binaries in their home directory](https://issuetracker.google.com/issues/128554619).

Also, refer to this StackOverflow thread [here](https://stackoverflow.com/questions/60370424/permission-is-denied-using-android-q-ffmpeg-error-13-permission-denied).

And, I think if you follow up in this thread you would get a better s

[2020-11-25 17:18] sbis04 commented on #65
Closing this issue, as it is solved [here](https://github.com/tanersener/flutter-ffmpeg/issues/225).

[2020-11-25 17:18] #65 closed

[2020-11-26 11:52] tanersener commented on #71
@sbis04 `flutter-ffmpeg` does not provide or use an `ffmpeg` binary. Therefore, `flutter-ffmpeg` won't provide a fix for it.

[2020-11-27 10:03] sbis04 commented on #71
Okay @tanersener, in this package the `flutter-ffmpeg` library is directly used, so `ffmpeg` binary shouldn't have any involvement here @yoonjiyong

Closing this issue.

[2020-11-27 10:03] #71 closed

[2020-12-01 14:38] courtneypresto opened #72 "FYI: Issues Upgrading Packages to ^0.3.4"
Hi!

I just wanted to post this incase any other people have issues upgrading their package to the newest version (video_trimmer: ^0.3.4).

When building for Android, I got weird errors like this:
`Task 'assembleAarRelease' not found in root project 'cached_video_player'.`

Here's what you need to do:

1. in android/app/build_gradle... make sure you have these versions:
`minSdkVersion 24`
 `target

[2020-12-01 14:39] #72 closed

[2020-12-03 13:30] qbait commented on #61
What about the picker? Can we configure `VideoEditor` to be a picker for the single frame?

[2020-12-04 10:46] janlektonen opened #73 "TrimEditor initialized with custom start and end value"
Hi, great trimmer - I like it.

I'm having a problem. I want to set the default start and end value in the TrimEditor in the constructor so that it is initialized with custom play startValue and endValue of the video. So that it does not play the whole video when loading the video again. I'm saving the trimmed startValue and endValue in database and reading it every time video loads so I can show

[2020-12-07 12:46] sbis04 commented on #61
@qbait @jmmaxwell okay, I understood what you guys want to tell. The `video_thumbnail` plugin provides the functionality but there is no UI component like `VideoEditor` in that.

Currently, this plugin can't be configured to pick a single frame, because that will also require some changes in the UI of the `TrimEditor`.

Though I didn't have any such enhancement in the timeline. I will try to imple

[2020-12-07 12:49] sbis04 commented on #52
@JamesBondPc I know this feature hasn't been implemented for a long time. Actually, I am really busy with some other work, so I was not finding much time to maintain it. Though I will try to add some of the enhancements by the end of December.

[2020-12-07 14:20] ArjanAswal commented on #43
@sbis04 Can you please provide a rough timeline for the implementation of this feature? When can we expect it?

[2020-12-17 15:06] ArjanAswal commented on #11
You can add text, as well as an image to the video by using [this](https://github.com/anharu2394/tapioca).
I suggest converting the text widget to an image and then adding it to the video because it's more customizable.

[2020-12-23 08:32] ThilinaIPerera opened #78 "Issue with Trim Length Command"
Example: I want to trim a video from 0.5 seconds 0r 500 ms (start point) to a minute or 60000ms (endpoint).

In the trimmer.dart file Line 220

I might be wrong but the command currently is =>
' -ss $startPoint -i "$_videoPath" -t ${endPoint - startPoint} -avoid_negative_ts make_zero '

shouldn't it be =>
' -ss $startPoint -i "$_videoPath" -t $endPoint -avoid_negative_ts make_zero '

using the exa

[2020-12-23 10:23] ThilinaIPerera commented on #78
Please disregard I Realized -t flag is the duration from the trim point.

[2020-12-23 10:23] #78 closed

[2020-12-29 08:16] yoonjiyong opened #79 "when I load a video , flutter push me weird screen not trimmerScreen"
okay Im trying my best to explain this.

i used to use this trimmer package very well
but in iOS some weird situation happens

1. I click gallery button
![clickGallery](https://user-images.githubusercontent.com/68573852/103268952-e9037600-49f7-11eb-9366-5ad7c28b19d9.jpeg)

2. choose video from gallery
![chooseVideo](https://user-images.githubusercontent.com/68573852/103268961-f882bf00-49f7-11eb-8f

[2020-12-30 18:35] aswanthrc opened #80 "file is gets saved with 0 size"
after trimming the video file it gets saved only by 0 size

[2021-01-01 18:43] sbis04 commented on #79
This is a known issue.
I have used the `image_picker` plugin in the example app of this package, it already has an issue open related to this: https://github.com/flutter/flutter/issues/24954

iOS does compression of some kind before letting you modify the selected video by default.

[2021-01-01 19:13] sbis04 commented on #79
I have updated the example app using `file_picker` package (instead of `image_picker`), which allows skipping the iOS video compression screen.

Check out the version `0.3.5`: #81

[2021-01-01 19:13] #79 closed

[2021-01-01 19:15] sbis04 commented on #80
Can you please describe your issue further by providing some screenshots?

Also, include your `flutter doctor` result.

[2021-01-02 05:41] sbis04 commented on #73
`TrimEditor` widget is fully generated on the basis of the video that is loaded. I am not changing this to your proposed implementation because if it uses user-supplied information then that may lead to unnecessary errors (if wrong values are supplied).

Also, the common behavior should be the entire video to be loaded which can then be trimmed.

What I understood your issue is, you want to use an

[2021-01-03 12:09] janlektonen commented on #73
HI @sbis04, thank you for your reply.

I think I misguided you. It's fine it loads full video and yes I store the start and end value as you mention for next time to show them, still on the full video loaded.

The thing is that I only use your TrimEditor to show trim start and end sliders/values in order to let the user change and save these 2 values every time without affecting/saving the video.

[2021-01-03 23:57] yoonjiyong commented on #79
you rock 🤟

[2021-01-06 15:12] Abacaxi-Nelson opened #82 "Feature: Add a way to 'setFontDirectory'"
Hey,

Im using the plugin to trimm and add a watermark to a video.
My last step is adding a text with 'drawtext', but to work on Android, we need to set a font directory: [https://github.com/tanersener/mobile-ffmpeg/wiki/Tips#4-drawtext-filter-on-android](https://github.com/tanersener/mobile-ffmpeg/wiki/Tips#4-drawtext-filter-on-android)

Is it possible to add to the plugin to use **drawtext** in

[2021-01-07 07:20] yoonjiyong opened #83 "Lost connection when I call _saveVideo() in iOS [^0.3.5]"
I think you can understand with only codes so...

### flutter doctor
[✓] Flutter (Channel stable, 1.22.4, on macOS 11.0.1 20B50 darwin-x64, locale ko-KR)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 12.2)
[!] Android Studio (version 4.1)
    ✗ Flutter plugin not installed; this adds Flutter specific functionality.

[2021-01-08 05:13] yoonjiyong opened #84 "take some time when I get video on gallery on iOS [ ^0.3.5 ]"
hello

when I load video on gallery with this code,
recorded video takes some times.

--------------------------------------------------------------------------------
### flutter doctor
[✓] Flutter (Channel stable, 1.22.4, on macOS 11.0.1 20B50 darwin-x64, locale ko-KR)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 12.

[2021-01-23 13:38] janlektonen commented on #73
Hi @sbis04

Can we get the feature to move Start and End slider programmatically after the video is loaded?

[2021-02-08 10:17] carman247 commented on #43
Will this eventually be added to the original package?

[2021-02-08 11:01] carman247 opened #85 "Saved video doesn't seem to be the same as the previewed section"
This is great but I think there is some difference between the trimmed preview and the actual saved file.

e.g. preview is from 00:15 - 00:25 seconds, saved file seems to be 00:10 - 00:30

This is even though the _start and _end seem to be correct

[2021-02-09 19:03] jmmaxwell commented on #61
Hi @sbis04, I was just curious if you had a chance to work on this at all? Again, thanks for your excellent work on this!

[2021-02-12 10:26] pooja96km commented on #32
Has anyone found the solution?

[2021-02-12 10:36] themadmrj commented on #32
Still hoping someone can write the iOS part ^^

[2021-02-12 10:43] pooja96km commented on #32
Have you written for android?

[2021-02-12 10:54] themadmrj commented on #32
Not yet, but can do it quickly. But useless for a flutter app without iOS, so I'm waiting for someone that can do that before I start.

[2021-02-12 11:04] pooja96km commented on #32
Ok

[2021-02-18 04:58] ArjanAswal commented on #32
@themadmrj I recommend that you go ahead with an android-only implementation. People will certainly start to contribute to your repo as your plugin starts picking up the pace, and someone will come up with an implementation for iOS.

[2021-02-18 06:10] themadmrj commented on #32
Not so sure about that. Without external reference like an article on Medium, a repo lacks visibility and may not get contribution. For instance, I wrote a chat UI library because dashchat is inactive, which is a lot more complete, and yet it doesn't really pick up the pace! If someone would just commit with me, that would certainly give me the push. The problem is, even if I write an android only

[2021-03-01 05:34] vishal-jadhao opened #86 "App size increased drastically when I used video_trimmer"
Hi @sbis04 @ArjanAswal ,

I find this very good package, but got size related issue. please help.

Before adding video_trimmer app size was around 12mb and when added

min ----> app size is 78mb
video ----> 160mb

Above size is of Release builds.

[2021-03-01 12:00] ArjanAswal commented on #86
Unfortunately nothing can be done about it as the plugin requires ffmpeg library which is quite heavy.
Make sure to obfuscate your release build as it reduces the app size significantly.
Also use `min-lts`.

[2021-03-01 19:54] dannycortesv opened #87 "Any plan to add web or desktop support?"
Will be awesome if we can have this working on web or desktop

[2021-03-05 14:37] RubenPain opened #88 "Error on TrimEditor"
I get this error on my `TrimEditor()` widget, I get the start of my video and after at one moment I get this error just on this widget when I scroll.

`flutter: ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
flutter: The following assertion was thrown building:
flutter: 'package:flutter/src/painting/image_provider.dart': Failed assertion: line

[2021-03-05 14:53] ArjanAswal commented on #88
Can you post the code?

[2021-03-08 12:43] vlladislav45 opened #89 "Error on load by storage path url '_duration' was called on null"
I wanna to load video file through storage path for example 'storage/emulated/0/folderName'.
I save this path to the videoFile variable but when i put this file to the function loadVideo() of new instance of object Trimmer(videoFile: fileWhoStorageThePath) i got this error:

[code]

[code]

[2021-03-08 14:46] vlladislav45 commented on #89
I fixed my problem. It was problem from the video player not from the trimmer. My mistake was that i call my async function into initState() not on async widget.

[2021-03-08 23:49] kavehmb opened #91 "Update path_provider dependency from 1.6.24 to 2.0.0"
Can you please update the dependency on path_provider to the latest Null safety version?

[2021-03-09 14:52] nehaalrejam opened #92 "Update video_player to 2.0.0"
Thanks a lot for the awesome pluginn!

Can we please upgrade the video_player plugin dependency to the latest 2.0.0 since on upgrading flutter sdk to the latest stable branch I get this

[code]

Thanks!

[2021-03-10 20:58] Linspirit98 opened #93 "How to add audio and combine with audio in the trimmed video?"
How to add audio and combine with audio in the trimmed video?

[2021-03-10 22:55] ajosecueto opened #94 "Empty file in emulator but works on Real device..."
Pixel #3XL API 30
Flutter 2

Future<String> _saveVideo() async {
    setState(() {
      _progressVisibility = true;
    });

    String _value;

    await widget._trimmer
        .saveTrimmedVideo(startValue: _startValue, endValue: _endValue)
        .then((value) {
      setState(() {
        _progressVisibility = false;
        _value = value;
      });
    });

    return _value;
  }

In emula

[2021-03-11 03:25] sbis04 commented on #89
Great. Closing this.

[2021-03-11 03:25] #89 closed

[2021-03-11 04:15] sbis04 commented on #80
Closing this. Feel free to open if the problem persists.

[2021-03-11 04:15] #80 closed

[2021-03-11 04:40] sbis04 commented on #92
Currently, we haven't yet migrated this package to null-safety as some dependencies that this package is using haven't released their null-safety versions (Ref: #90 ).

You may use the lower version of the `video_player` package if possible, or you may try overriding the `video_player ` dependency, something like this:

[code]

[2021-03-12 08:09] janlektonen opened #95 "TrimEditor error: 'bytes != null': is not true"
Hi -nice package.

I get this error when opening videoTrimmer with a mp4 videofile. Al thumbnails are rendered except the last few ones, then this error comes?

Sometimes the file load fine and all thumbnails are shown. But often this error comes... I made sure the file is loaded before opening TrimEditor()

I can see that issue #88 mentioned the same error...

═══════ Exception caught by widgets

[2021-03-14 19:30] Gicminos commented on #94
Similar issue happens to me. While using it on the emulator, the file returned is 0 bytes size and I can see in the console this ffmpeg error:
`[mp4 @ 0x7a3b935c10] Could not find tag for codec amr_nb in stream #1, codec not currently supported in container`

The thing that worries me are if there are real devices with that codec that might cause issues. Here the problem is not about making the li

[2021-03-14 19:34] ajosecueto commented on #94
@Gicminos I think you can try to deploy in many devices as posible and try to catch that error using sentry or another error Handling Platform.

I will release an app in few days. I will share information about with you.

[2021-03-18 09:01] pictureframing commented on #95
Same problem

[2021-03-20 15:36] ajosecueto commented on #94
So i was testing in few devices and in Samsung devices video trimmer doesn't save the file...the plugging doesn't work.

path saved is null... in emulator API 30 and Samsung real devices
#

@sbis04

[2021-03-22 08:15] aswanthrc commented on #80
Hi,
This library, i am not able to use in *flutter 2.0* version

On Thu, Mar 11, 2021 at 8:15 AM Souvik Biswas ***@***.***>
wrote:

--
Thanks & Regards

          Aswanth R Chandran
          Mobile: +971 502 717 057
          Skype ID: aswanthrc

[2021-03-23 06:56] aswanthtpc opened #97 "Not supporting flutter 2.0 (depend on path_provider old version)"
When i try upgrade my flutter version to 2.0 it shows dependency error on path_provider

[2021-03-23 21:10] ajosecueto commented on #95
#94 the error occurs when VideoThumbnail is trying to create from a empty file or null path... works i'm some devices but no in emulator and samsung devices for example...

package mantainer doesnt track issues, i posted it 13 days ago, without response...

[2021-03-25 07:48] lvlrSajjad commented on #97
https://github.com/sbis04/video_trimmer/pull/98
I have upgraded packages in this pull request. :-D

[2021-03-25 07:48] lvlrSajjad commented on #92
https://github.com/sbis04/video_trimmer/pull/98

[2021-03-25 07:48] lvlrSajjad commented on #91
https://github.com/sbis04/video_trimmer/pull/98

[2021-03-25 07:56] aswanthtpc commented on #97
is it available with the same version (0.3.5)?

[2021-03-25 07:57] aswanthtpc commented on #97
is it available with the same version (0.3.5)?

[2021-03-25 08:08] lvlrSajjad commented on #97
For now, you can use it this way
[code]
And if there is a problem tell me to fix it :-D (Because for now, it's working for me)

[2021-03-28 05:41] frankdevryer commented on #97
This works! Great.

[2021-04-07 08:18] khanna007 commented on #97
@lvlrSajjad This works but when we are going to make apk or IPA its showing error

[2021-04-08 18:06] hanswang0608 opened #100 "startValue is ignored when saving trimmed video in mp4 format"
Here is the code I'm calling.
[code]

The field startValue has no effect on the output, while endValue works as expected.
Changing format to gif instead of mp4 produces correct output but I need the output as mp4.

[2021-04-09 11:12] #91 closed

[2021-04-09 11:12] #92 closed

[2021-04-09 11:12] #97 closed

[2021-04-09 13:10] sbis04 commented on #87
This package can't support web and/or desktop platforms as it uses `flutter_ffmpeg` which can only be run on **Android** & **iOS** currently.

[2021-04-09 13:10] #87 closed

[2021-04-09 13:29] sbis04 commented on #94
@ajosecueto @Gicminos Can you please try with the latest version `0.4.0`, and let me know?

[2021-04-09 13:31] sbis04 commented on #95
Closing this as it is a duplicate of #94 , please continue the conversation there.

[2021-04-09 13:31] #95 closed

[2021-04-09 13:32] sbis04 commented on #88
Closing this as it is a duplicate of #94 , please continue the conversation there.

[2021-04-09 13:32] #88 closed

[2021-04-09 13:34] sbis04 commented on #93
You can `flutter_ffmpeg` package to achieve that, or you can use the custom command in this package to pass your FFmpeg command.

[2021-04-09 13:37] sbis04 commented on #86
Closing this as it is a duplicate of #32 , please continue the conversation there.

[2021-04-09 13:37] #86 closed

[2021-04-09 13:38] sbis04 commented on #100
Closing this as it is a duplicate of #85 , please continue the conversation there.

[2021-04-09 13:38] #100 closed

[2021-04-09 13:40] sbis04 commented on #83
@yoonjiyong  Can you please try with the latest version `0.4.0`, and let me know

[2021-04-09 13:46] sbis04 commented on #84
Have you tried in a release build if you are facing the same delay?

Also, are you using `allowCompression: false` which was introduced as a part of https://github.com/sbis04/video_trimmer/pull/81 ?

Please try with the latest package `0.4.0`, and let me know.

[2021-04-14 14:10] SPlus91 commented on #61
Similar problem here... it would be great if was implemented a way to show a specific frame of the video in the videoViewer.

[2021-04-14 15:03] SPlus91 opened #103 "Frames in video viewer doesn't refresh when dragging video_trimmer circles on iOS"
Hello @sbis04 , thank you for video_trimmer, it is awesome!
With iOS devices the video_player does not refresh the frame on `onChangeEnd` of the `TrimEditor`, this will be fixed with a little work around as @jakub suggest in the PR [11dba946f9bbedf36bca3724ce53bd1b2e216dc2](https://github.com/sbis04/video_trimmer/pull/77/commits/11dba946f9bbedf36bca3724ce53bd1b2e216dc2) , can you please check?

[2021-04-15 07:41] SPlus91 commented on #103
Just tried to implement @jakub 's solution, but didn't work properly, still the bug on iOS devices remains.

[2021-04-19 09:32] vlladislav45 opened #104 "a video trimmer doesn't get entire video range"
For example, after loading a 19-second video, the trimmer catches only 10 of the entire 19 seconds([0:10]). I don't know why this happens, but the example from the repository is has the same problem.
I haven't delved into your code, so I'll ask you first, what could be a problem?

[2021-04-21 11:54] #104 closed

[2021-04-21 22:09] jcsena commented on #73
Hi @sbis04 thanks for supporting this amazing project! this feature that @janlektonen explains very well is a good option to have more control to trim videos.  +1

[2021-04-26 10:39] yoonjiyong commented on #83
this version works fine !

[2021-04-26 10:40] yoonjiyong commented on #84
thanks but there is one problem 😭
i'll write about it

[2021-04-26 10:49] yoonjiyong opened #105 "download video couldn't generate thumbnail"
hi

when I pick download video.
below error occurs on iOS ( iPhone7 )
android works fine

`flutter: /private/var/mobile/Containers/Data/Application/09F51573-CA6E-49BA-A792-E7FEBF4A5F74/tmp/_talkv_woYgOXv7ml_zSU8dBVSYS00f6uxummnuk_talkv_high.mp4
couldn't generate thumbnail, error:Error Domain=AVFoundationErrorDomain Code=-11832 "Cannot Open" UserInfo={NSLocalizedFailureReason=This media cannot be u

[2021-04-26 14:56] Vitaly-V commented on #105
I have the same error. But it seems to be video-dependent.
E.g. this video works fine https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_480_1_5MG.mp4

[2021-05-04 07:38] braysonjohn148 opened #106 "TrimmerView() plays video on the first one second."
version 0.4.0. Update and when i pass a video file to TrimmerView(). I plays on the first one second when i press play. Then the TrimEditor() shows 0:00:00 on start and 0:00:00 on end.

**LOGS AFTER SELECT VIDEO**
W/MapperHal(  417): buffer descriptor with invalid usage bits 0x2000
I/ACodec  (  417): [] onAllocateComponent
I/OMXClient(  417): IOmx service obtained
I/ACodec  (  417): [OMX.google.aa

[2021-05-10 11:14] justkawal commented on #73
@sbis04
Feature requested by @janlektonen is obviously a valid feature and also gives the developers more control over the code and implementing great features,

I thinks that this feature would be very much helpful as developer's hands should not be bound to the limitations of the thinking.

[2021-05-12 08:27] zuruoke opened #107 "When I call the trimmer instance saveVideo, my real device app crashes"
When I ran this on my emulator it worked, but I ran it on my Samsung 10+ phone using Android 11 (API 30) it crashed the app.
Please what's the issue. I'm using the 0.4.0 version

[2021-05-12 21:40] braysonjohn148 commented on #107
Happened to me too. I tried on my release version and debug version.
I was able to capture this error message: java.lang.RuntimeException: An error occurred while executing doInBackground()

[2021-05-12 21:42] braysonjohn148 commented on #106
I was the using the old example code. I updated to new ones. It works

[2021-05-12 21:42] #106 closed

[2021-05-12 22:36] zuruoke commented on #107
So what did you do to fix this issue or you left the issue unresolved

[2021-05-13 20:09] braysonjohn148 commented on #107
Did not solve it. I tried changing FFmpeg Release packages to main to full. Because am using api level 24. Still craching

[2021-05-13 22:15] zuruoke commented on #107
ok, but does it crash on your debug device (emulator) cause it does not in my case. Only when I create an APK and run it on my release device, i do experience this crash

[2021-05-17 12:19] braysonjohn148 commented on #107
Me too. I tried all FFmpeg Release packages. Does the same

[2021-05-17 12:21] braysonjohn148 commented on #83
I am using version 0.4.0, ext.flutterFFmpegPackage = 'https-gpl-lts' but still crash when i press save

[2021-05-17 12:29] amag2511 commented on #105
Hi All,
have the same issue on iOS. Seems like an issue with video_thumbnail plugin. It cannot produce the last duration time thumbnail.
Do you have any progress?

[2021-05-18 09:47] char-lance-flamme commented on #105
Hello,
Have the same issue  on IOS. Please assist, really need to fix it. :(
couldn't generate thumbnail, error:Error Domain=AVFoundationErrorDomain Code=-11832 "Cannot Open" UserInfo={NSLocalizedFailureReason=This media cannot be used., NSLocalizedDescription=Cannot Open, NSUnderlyingError=0x283f9c690 {Error Domain=NSOSStatusErrorDomain Code=-12431 "(null)"}}

[2021-05-18 13:57] braysonjohn148 commented on #107
To me when i debug on my real device. It works fine but when i build a release and download from play store it crash. This is the log from play store console:

java.lang.RuntimeException
java.lang.RuntimeException:
  at android.os.AsyncTask$3.done (AsyncTask.java:353)
  at java.util.concurrent.FutureTask.finishCompletion (FutureTask.java:383)
  at java.util.concurrent.FutureTask.setException (Futu

[2021-05-19 10:12] amberfan commented on #103
Happened to me too...

[2021-05-21 06:40] sbis04 commented on #107
Hi @zuruoke @braysonjohn148 regarding Android release build issues, please see the [Tips](https://github.com/tanersener/flutter-ffmpeg#5-tips) section of the `flutter-ffmpeg`. If it still isn't fixed look into some of the similar [issues](https://github.com/tanersener/flutter-ffmpeg/issues) of the `flutter-ffmpeg` GitHub repo.

Let me know if anything fixes the issue

[2021-05-21 06:44] sbis04 commented on #84
Closing this issue

[2021-05-21 06:44] #84 closed

[2021-05-21 06:44] #93 closed

[2021-05-21 06:45] #11 closed

[2021-05-21 06:51] sbis04 commented on #105
@yoonjiyong @char-lance-flamme @amag2511  Have you added the proper permissions to the `Info.plist` file as stated [here](https://github.com/sbis04/video_trimmer#ios)

Also, let me know which iOS version are you using.

[2021-05-21 07:53] Vitaly-V commented on #105
Hi All,

@amag2511
I don't have any progress with it.

@sbis04
ios/Runner/Info.plist

`
<key>NSCameraUsageDescription</key>
<string>Used to get user profile image</string>
<key>NSMicrophoneUsageDescription</key>
<string>Used to capture audio for video upload</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Used to get user profile image</string>
`

Device - iPhone 8
Softvare version - 14

[2021-05-21 08:53] sbis04 commented on #105
@Vitaly-V can you provide some videos using which you are facing this issue? I will try to reproduce the error and then look into it.

[2021-05-21 08:56] char-lance-flamme commented on #105
@sbis04
It is my Info.plist
<key>NSCameraUsageDescription</key>
<string>Used to demonstrate image picker plugin</string>
<key>NSMicrophoneUsageDescription</key>
<string>Used to capture audio for image picker plugin</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Used to demonstrate image picker plugin</string>

my Device Iphone XR
IOS 14.4.02(18D70)

[2021-05-22 12:54] zuruoke commented on #107
Ok thanks.  I found the solution from the link you shared. This worked for me.

[2021-05-22 12:55] #107 closed

[2021-05-22 17:23] sbis04 commented on #94
Closing this assuming it to be solved. Feel free to open if the issue persists.

[2021-05-22 17:23] #94 closed

[2021-05-24 19:05] themadmrj commented on #43
@PhantomRay do you plan on merging new commits? Your features look good, but the repo is 50 commits behind...

[2021-05-24 19:30] themadmrj opened #108 "Design issues"
First of, thanks for making the library, it's an excellent base for most devs who need a quick solution.

After having implemented it, I noticed several design issues:
-why separate the Trimmer() instance from the TrimmingView()? The screen should contain the instance and simply return the new file
-global variables are a bad pattern, I think the player should be passed along
-changing the start o

[2021-05-25 14:24] themadmrj commented on #108
PR is up. Also solves #43. The solution for #43 I linked had horrible design, so I wrote a cleaner, simpler system myself.
@Everyone for future reference: I plan on creating my own plugin for trimming videos in around 2 months or so, this time using native ressources. Ffmpeg is just too big for a mobile app.

[2021-05-27 08:11] sbis04 commented on #43
Fixed in PR #109

[2021-05-27 08:11] #43 closed

[2021-05-27 08:12] sbis04 commented on #108
Fixed in PR #109

[2021-05-27 08:12] #108 closed

[2021-05-27 08:44] sbis04 commented on #103
It's an issue with the `video_player`, track it here: https://github.com/flutter/flutter/issues/78998

[2021-05-27 08:46] sbis04 commented on #83
@braysonjohn148 can you please the error you are getting in the console?

[2021-05-28 07:50] faizanrafiq7 opened #110 "On Android when we do trim in Release mode App crashes. On IOS the trimmer thumbnail bar has red part with errors also cannot trim in IOS"

[2021-05-31 17:25] themadmrj commented on #94
I just tested this on a real device and the issue still exists on iOS.

[2021-05-31 20:13] themadmrj opened #111 "[BUG] iOS only: some videos play sound only, screen is black"
I'll skip the details, because this is an official issue opened here: [flutter ticket](https://github.com/flutter/flutter/issues/28831).
There is also a fix [here](https://github.com/flutter/plugins/pull/1307). For some reason it doesn't get merged. I have experienced this bug and have tried the fix and it works.
The solution is to use a version of `video_player` which has the fix. I opened a repo

[2021-06-01 14:52] themadmrj opened #113 "Remove unused dependency"
`file_picker: ^3.0.2+2`, there in the main lib when only used in the example. On iOS, this caused me a world of trouble, because file_picker uses `SDWebImage` instead of `SDWebImage/Core`, which prevented me from archiving my app due to multiple targets issue.

[2021-06-07 15:13] Vitaly-V commented on #105
Guys, any updates?

[2021-06-09 08:18] listade commented on #110
Same problem

[2021-06-12 16:27] Gicminos commented on #110
I believe these are two separate issues. On behalf of the second part "On IOS the trimmer thumbnail bar has red part with errors also cannot trim in IOS", here are some additional details as the same happens to me:

![image](https://user-images.githubusercontent.com/9993624/121782781-2709e600-cba3-11eb-9697-a5f6cbee61f4.png)

Here is the error in console:
[code]

flutter doctor (iOS only):

[code]

[2021-06-12 16:31] Gicminos commented on #105
I also experience the same problem. Here are more details in case they can help:

![image](https://user-images.githubusercontent.com/9993624/121782781-2709e600-cba3-11eb-9697-a5f6cbee61f4.png)

Here is the error in console:
[code]

flutter doctor (iOS only):

[code]

Thanks. Happy to provide more details if it helps.

[2021-06-17 16:25] sbis04 commented on #105
@Gicminos I see that the above screenshot is from an iOS Simulator, so did you try it on a physical device? Also, did you try with any different video to check if the error persists in that as well?

[2021-06-17 16:30] sbis04 commented on #110
@faizanrafiq7  the Android device release mode error solution can be found [here](https://github.com/sbis04/video_trimmer/issues/107#issuecomment-845698655), try it once and let me know if that works.

For the iOS error, as it is similar to issue #105, so I would encourage you to follow that thread.

[2021-06-18 08:04] Vitaly-V commented on #105
@sbis04, on the real devices' error looks pretty the same.
Yes, it's video dependent, - some videos are trimming well, some with this error.

[2021-06-18 08:06] sbis04 commented on #105
@Vitaly-V Can you please share a video file or it's link which is producing this error?

[2021-06-18 08:36] Vitaly-V commented on #105
@sbis04, please try this video file.
[https://user-images.githubusercontent.com/4039270/122532393-1f29c600-d029-11eb-9289-7ead7b4f3c99.mp4](url)

[2021-06-18 09:04] Vitaly-V commented on #105
Or this one
[https://user-images.githubusercontent.com/4039270/122536481-3e2a5700-d02d-11eb-8d19-5604ea96654f.mp4](https://user-images.githubusercontent.com/4039270/122536481-3e2a5700-d02d-11eb-8d19-5604ea96654f.mp4)

[2021-06-18 09:11] Gicminos commented on #105
I confirm what Vitaly-V is saying. The error on the real device is the same (while on release mode you see the gray band instead of the red error) and it is yes video dependant.

[2021-06-30 08:10] lan2000 opened #114 "Slidable implementation of the TrimEditor"
video_trimmer 0.5.1
android 10

TrimEditor's sliding selection time period is abnormal.
No such problem in the previous version.

[2021-06-30 08:30] lan2000 commented on #114
When the video thumbnail is loaded, the white selection box control cannot slide

https://user-images.githubusercontent.com/29618907/123928344-68cac700-d9c0-11eb-8251-3763a35269fd.mp4

[2021-06-30 15:57] Gicminos commented on #105
This PR https://github.com/sbis04/video_trimmer/pull/112 seems to be claiming to fix this error. Happy to test it myself in the next days, but will probably have to fork it and test it with just a cherry-pick of https://github.com/sbis04/video_trimmer/pull/112/commits/82898fa13affa984aa6a1790d4ab8d3feef51504 because I am not sure about the other changes.

[2021-07-01 02:46] sbis04 commented on #114
@lan2000 have you set any `maxVideoLength` while using the `TrimEditor` widget?

Can you please share the code snippet of just the `TrimEditor` widget, so that I would get to know how you have declared it?

Also, please attach your Flutter doctor output.

[2021-07-01 04:17] lan2000 commented on #114
flutter doctor
[√] Flutter (Channel stable, 2.2.2, on Microsoft Windows [Version 10.0.19042.630], locale zh-CN)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[√] Chrome - develop for the web
[√] Android Studio (version 4.0)
[√] Connected device (4 available)

• No issues found!

The above problem occurs when I set  viewerWidth   beyond the screen width

[code]

[2021-07-01 04:26] lan2000 commented on #114
Another problem is that if the video duration is relatively long, the distance selected by TrimEditor becomes shorter and it is difficult to slide. The video just selected is about 4 minutes. The slider on the right side of TrimEditor can't slide.

https://user-images.githubusercontent.com/29618907/124064461-696a6880-da67-11eb-96fe-764296e5d9c9.mp4

[2021-07-01 08:36] sbis04 commented on #114
Yes, if you set the `viewerWidth` to be greater than the screen width this would occur because currently the thumbnails are generated in a is scrollable `ListView`.

Yes, this is also an issue. I'll try to work on a fix for these soon.

[2021-07-01 10:04] sbis04 commented on #105
Try using the latest version of the plugin:

[code]

Let me know if the thumbnail error is fixed.

[2021-07-01 10:05] sbis04 commented on #113
I have removed the unused dependency in the latest version (`video_trimmer: ^0.5.2`)

[2021-07-01 10:05] #113 closed

[2021-07-01 10:07] sbis04 commented on #110
Closing this issue, track the iOS related issue here: #105

[2021-07-01 10:07] #110 closed

[2021-07-02 09:53] wangyan-png opened #117 "fatal error: 'mobileffmpeg/LogDelegate.h' file not found"
video_trimmer：0.3.4
I can compile and run normally, but flutter build IOS reports an error
fatal error: 'mobileffmpeg/LogDelegate.h' file not found
'mobileffmpeg/ExecuteDelegate.h' file not found

[2021-07-02 10:54] tridianthor opened #118 "TrimEditor widget doesn't work correctly"
Hi.
I'm using the latest version 0.5.2.
And the TrimEditor widget doesn't show the slider, it only shows the white circle.
Built on Samsung S8+ - Android 9, Android Studio emu - Android 8, produced the same result.

![Screenshot_20210702-170923(2)](https://user-images.githubusercontent.com/79877056/124264176-5b4b4380-db5e-11eb-9aeb-64507f03294e.jpg)

[2021-07-05 23:07] Gicminos commented on #105
We haven't tested widely yet, but we do indeed see improvements. I will let you know in case of any issues. Thanks!

[2021-07-06 16:30] Arjunraj-k commented on #117
Have the same issue as well. anyone got any solutions?

[2021-07-07 15:27] dannycortesv commented on #118
Also having this issue, have you managed to solve it?

[2021-07-07 15:33] sbis04 commented on #117
@wangyan-png can you please try with the latest version of the `video_trimmer`, also please share your `flutter doctor` output here.

Also, you can check out this thread on `flutter-ffmpeg`: https://github.com/tanersener/flutter-ffmpeg/issues/303

[2021-07-07 15:37] sbis04 commented on #118
This maybe a video specific problem, can you please share the link or the video file here, so that I can test it out with that?

Some information regarding this error is [here](https://github.com/sbis04/video_trimmer/pull/115#issuecomment-872030325).

[2021-07-07 23:44] tridianthor commented on #118
Hey, I managed to fix the issue.
before I upgrade to 0.5.2, I used the forked version from https://github.com/huangred/video_trimmer
and I had initialized the var _startValue = 0 and _endValue = 10
But then after updating and encountering this error, I initialized it to _startValue = 0 and _endValue = 0
And it fixed the problem for me.

[2021-07-07 23:51] dannycortesv commented on #118
With 4.0.0 version it works, testing the same video with 0.5.2 version it doesn't work

[2021-07-18 22:05] Desno365 opened #119 "Add ability to change scrubberWidth and borderWidth in TrimEditor"
As said in the title it would be useful to change directly in the `TrimEditor` the values of `scrubberWidth` and `borderWidth` that are used by the `TrimEditorPainter`.

[2021-07-23 03:04] #119 closed

[2021-07-23 05:39] sbis04 commented on #118
Hi @dannycortesv, can you share some more details regarding your issue

[2021-07-23 05:40] sbis04 commented on #105
Closing this issue. Feel free to open, if the issue still persists.

[2021-07-23 05:40] #105 closed

[2021-07-23 05:41] sbis04 commented on #83
Closing this issue

[2021-07-23 05:41] #83 closed

[2021-07-23 08:14] sbis04 commented on #73
Hey @janlektonen @jcsena @justkawal, how do you people want the programmatic control to be?

Like: `+` (positive) and `-` (negative) drag for each **start** and **end** handle of the `TrimEditor`

Let me know how you people want the feature to be implemented.

[2021-07-23 20:27] janlektonen commented on #73
Hi @sbis04 Nice you get back on this :-)

I would be nice if I could initialize the constructor with a start-duration and an end-duration and then the sliders are positioned visually on these markers when loading the video.

Let me know if you want more explaining :-)

[2021-07-29 06:38] ankitsaurabhinfosys opened #121 "App crashes"
app crashing will saving trimmed video

[2021-07-29 12:08] ankitsaurabhinfosys commented on #107
can you send a screenshot of that, how it done?

[2021-07-29 12:13] sbis04 commented on #121
@ankitsaurabhinfosys can you please share the error logs from the console, and also please attach the `flutter doctor -v` output along with it.

Which version of `video_trimmer` are you using?

[2021-07-29 12:24] ankitsaurabhinfosys commented on #121
solved

[2021-07-29 12:25] ankitsaurabhinfosys commented on #121
Bad JNI version returned from JNI_OnLoad in....... this was the error. solved moving mavenCentral() in allproject-- repositories

[2021-07-29 12:27] sbis04 commented on #121
Okay

[2021-07-29 12:27] #121 closed

[2021-08-02 05:49] ankitsaurabhinfosys opened #122 "Trimmer widget issue"
In version 0.4.0  VideoViewer(trimmer: _trimmer,), the trimmer parameter is showing "The named parameter 'trimmer' isn't defined."
Cant able to dispose trimmer
![trimmer issue](https://user-images.githubusercontent.com/78646452/127810411-1abb42e9-6c12-490e-8fd1-37dc90aaf5b0.png)

[2021-08-02 12:18] fauzipadlaw commented on #117
Encountering the same issue.

[code]

and using `video_trimmer: ^0.5.4`

[2021-08-03 06:26] VengaiMovan opened #123 "The getter 'eventStream' was called on null."
Hi,
 I'm using the example code to run, but it shows **"The getter 'eventStream was called on null"** error.
Thank you!

[2021-08-03 07:21] #123 closed

[2021-08-07 13:27] aliaktas-tr opened #124 "!! This is not a issue !! how do i save to firebase"
how do i save to firebase the video after edit?

[2021-08-11 18:10] #124 closed

[2021-08-12 20:12] zuruoke commented on #122
I think you're using an old version, switch to the 0.5.4 version

[2021-08-12 20:25] zuruoke opened #125 "Trim Editor called once even when I initiate a new build by updating the trimmer parameter"
The Trim Editor inistate is called once even when I change the trimmer parameter

`int index = 0;`
`void changeTrimmer() {setState(( ){ index = 1 }(}`
`TrimEditor(
   trimmer:  index == 1 ? _trimmer1 : _trimmer2,
            maxVideoLength: const Duration(seconds: 30),
            viewerHeight: 60.0,)`

[2021-08-13 08:44] #125 closed

[2021-08-13 08:45] zuruoke commented on #125
this is not an issue

[2021-08-15 06:28] kahdichienja opened #127 "The app stops on : flutter run --release when saving the trimmed video"
[code]

[2021-08-15 08:02] TohQiQi opened #128 "Execution failed for task ':app:checkDebugDuplicateClasses'."
Hi, I have used
[code]
when I want to run the apps, I get an error like this:
[code]

[2021-08-18 06:32] KishoreTechJays commented on #127
If flutter_ffmpeg release builds on Android fail with the following exception, make sure that mavenCentral() is defined as a repository in your build.gradle and it is listed before jcenter().

[2021-08-18 10:39] kahdichienja commented on #127
Okay let me work on it, then notify

On Wed, Aug 18, 2021, 09:33 KishoreTechJays ***@***.***>
wrote:

[2021-08-18 10:58] kahdichienja commented on #127
ok were specifically in th graddle,

buildscript {
    ext.kotlin_version = '1.3.50'
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:4.1.0'
        classpath 'com.google.gms:google-services:4.3.8'
        classpath
"org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }
}

allprojects {
    repositories {

[2021-08-18 11:14] kahdichienja commented on #127
it worked bro.. am happy, thanks

On Wed, 18 Aug 2021 at 13:58, mmtus tec ***@***.***> wrote:

[2021-08-18 11:15] kahdichienja commented on #127
is there a way to get *thumbnail* ???

On Wed, 18 Aug 2021 at 14:14, mmtus tec ***@***.***> wrote:

[2021-08-24 16:23] nisargdoshi commented on #105
I am getting this error

Runner[3759:312601] couldn't generate thumbnail, error:Error Domain=AVFoundationErrorDomain Code=-11832 "Cannot Open" UserInfo={NSLocalizedFailureReason=This media cannot be used., NSLocalizedDescription=Cannot Open, NSUnderlyingError=0x281948270 {Error Domain=NSOSStatusErrorDomain Code=-12431 "(null)"}}

[2021-08-29 13:46] Misk-Tech commented on #128
the same issue, any solution ?

[2021-08-29 13:57] TohQiQi commented on #128
You can try it. I found the solution like this:

Delete **pubspec.lock** and run **flutter pub get**.

Basically, there is a version mismatch due to video_editor using v2.1.12 of video_player as dependency which in turn uses exoplayer.

This is a simple way.

The other option is to use dependency override but it's not safe

[code]

[2021-08-29 13:57] #128 closed

[2021-08-29 16:04] sbis04 commented on #127
@kahdichienja you can use the [video_thumbnail](https://pub.dev/packages/video_thumbnail) plugin to achieve that

[2021-08-29 16:05] sbis04 commented on #122
@ankitsaurabhinfosys is the issue solved?

[2021-08-30 07:29] kahdichienja commented on #127
Awesome, thanks!

On Sun, 29 Aug 2021 at 19:04, Souvik Biswas ***@***.***>
wrote:

[2021-08-30 08:00] #127 closed

[2021-09-01 04:29] duy1998 opened #129 "Bug build release when using ext.flutterFFmpegPackage = 'min-lts' in Android"
![image](https://user-images.githubusercontent.com/43132958/131611890-4ffcfefd-cb1d-4be2-9201-9270547948ef.png)

[2021-09-01 23:10] zsgithublib opened #130 "Trimmed file not showing up in storage"
Using the example application code I am able to access, trim and save a video, however despite the output listed below the video is not found in storage (on both emulator and device).

Terminal output:

`I/flutter ( 6804): Got value
I/flutter ( 6804): Video successfuly saved
I/flutter ( 6804): OUTPUT PATH: /storage/emulated/0/Android/data/com.example.videotrimmer/files/Trimmer/PXL_20210729_1935164

[2021-09-03 08:40] Asasapatata opened #131 "Side border slidable instead of circles"
Hi,
this is not an issue but better a suggestion. Why don't you implement the entire side borders to be dragged instead of the circles? Sometimes it is difficult to grab the circle and would be much easier for the user to grab the entire border and slide it where he wants. What do you think?

[2021-09-03 08:41] Asasapatata commented on #131
I accidentally close it

[2021-09-04 00:39] #131 closed

[2021-09-08 06:32] ankitsaurabhinfosys commented on #122
yes

[2021-09-08 06:32] #122 closed

[2021-09-08 12:50] ankitsaurabhinfosys opened #132 "Thumbnail issue"
Not getting thumbnail after trimming the video, shows Unhandled Exception: Unsupported operation: Functionality only available on Android video trimmer using directory StorageDir.externalStorageDirectory. for ios i have applied StorageDir.applicationDocumentsDirectory but the thumbnail is not getting

[2021-09-10 11:12] bmnidhin opened #134 "Unable to save video with Android 11"
The package is working perfectly perfectly in almost all devices except android 11. Is android 11 unsupported?

![WhatsApp Image 2021-09-10 at 4 33 32 PM](https://user-images.githubusercontent.com/11921692/132844939-93d116ba-56ba-4b42-beb9-e213bb84d9f5.jpeg)
![WhatsApp Image 2021-09-10 at 4 33 55 PM](https://user-images.githubusercontent.com/11921692/132844952-6bb29271-764b-4bbf-8335-3fff204cea0e.

[2021-09-11 21:15] dilbersha commented on #117
any updates?

[2021-09-13 10:45] ComradePashka opened #135 "video_trimmer 0.4.0 depends on video_thumbnail ^0.3.3"
video_thumbnail v0.3.3 use a deprecated version of the Android embedding. This Android V2 embedding is mentioned at https://flutter.dev/go/android-plugin-migration and it was fixed in latest package update (at least in version 0.4.3, but your package still has dependency on that older version.
it is not directly related, but would be nice if you update pubspec.yaml accordingly.
thank you!

[2021-09-19 01:09] juanmartin8a opened #137 "scrubber position gets off real position when video is paused multiple times"
When pausing and unpausing the video quite a few times the scrubber position in the trimmer editor gets behind the real video position. as a possible solution maybe try reseting the animation controller in the trim_editor.dart file if the videoController current position reaches the video end position value.

[2021-09-27 03:32] sbis04 commented on #135
I have updated all the dependencies now in `video_trimmer` version 0.6.0

[2021-09-27 03:32] #135 closed

[2021-09-27 03:38] sbis04 commented on #134
@bmnidhin yes, it supports Android 11 perfectly, even the Android test device that I use is Pixel 4a (Android 11).

Can you please share your `flutter doctor -v` output? Also, let me know on which device you are facing this issue.

I have just released a new version of the `video_trimmer` plugin (v0.6.0), please try once with it and let me know.

[2021-09-27 03:56] sbis04 commented on #130
@zsgithublib on the device, where are you looking for the trimmed video?

[2021-09-27 08:56] bmnidhin commented on #134
I used a samsung M12. IWe used an older version. Thanks

[2021-09-27 08:56] #134 closed

[2021-10-04 08:02] ashish01s commented on #137
Have you found any solution ?

[2021-10-04 18:51] juanmartin-8a commented on #137
not really I did what I mentioned above which doesn't cause problems with the scrubber even tho the scrubber is a little behind from the actual video

[2021-10-09 19:54] brainunknown opened #138 "Execute a custom ffmpeg command"
First of all congratulations for this great package :) I hope some day I will be able to do something like this.

**Since this package has the ffmpeg, can we execute a custom ffmpeg command?**

 **For instance, what I need is to capture a single image of a video.** I know, here was recommended the package video_thumbnail, but I don't want to have too many packages installed.

And since video_trimm

[2021-10-15 05:30] utk28rsh opened #139 "The debug and release mode apk size skyrockets to almost 180MB and 85MB respectively. I don't seem to understand the issue here. Even checked my build.gradle. Flutter doctor is also perfectly fine."

[2021-10-17 15:27] Hwan-seok opened #140 "Is this plugin supports m3u8 format?"
If it doesn't, how can I implement it?

[2021-10-19 13:21] officialFlutterDeveloper opened #141 "How can I increase gif frames per second"
I really like your package and I have liked to too I wanted to know how I can make my gif fluid because right now its very choppy and slow thanks

[2021-10-21 14:39] prakash-sonar-98 opened #142 "How can I set fixed trim slider"
how can I set fixed trim slider for min and max duration of length.
Also trim slider can not move forward or backward

[2021-10-21 14:44] prakash-sonar-98 opened #143 "API Level 24 is too large"
How can I reduce android API level(24) of these package, It can affect my other dependencies

[2021-10-23 06:21] RohanSengupta326 opened #144 "Long vides are not loading on the editor"
Small length videos are getting loaded on the editing panel but videos which are a bit long they are not getting loaded.
example :

https://user-images.githubusercontent.com/64458868/138545061-822cc31b-7bb8-4d8a-9fc4-8fd990f54683.mp4

[2021-11-01 11:57] shilangyu commented on #143
Just use the lts version of ffmpeg (set it in android/build.gradle)

[code]

[2021-11-02 14:14] waletoyo1 commented on #142
Inside the TrimEditor widget, use the  maxVideoLength property to set the maximum video length. The default value is 10 seconds.

[2021-11-11 08:32] husen-hn opened #145 "outputPath is not existed"
in the example app when I save video after trim, I gave outputPath but this path does not exist and the Preview player can not play this video. I try to upload this path I get an error and when I print this code I get 0 `print(File(outputPath).lengthSync())` log=> `0`.

`video_trimmer: ^0.6.0`

`flutter version 2.5.0`

Preview player log:
[code]

[2021-11-11 11:43] Nanneless opened #146 "TrimEditor widget BUG"
I'm using Video_trimmer 0.6.0
I'm pretty sure the video is loaded successfully but TrimEditor doesn't create any thumbnail or video duration
I have no idea what's wrong with the package or with my code.

I've read issue https://github.com/sbis04/video_trimmer/issues/118 but I didn't find any useful solution

![image](https://user-images.githubusercontent.com/54936754/141292276-4b8c361b-03dd-48ee-8

[2021-11-11 16:11] Nanneless commented on #146
I placed TrimEditor in Visibility Widget, I have to call loadVideo() every time AFTER the TrimEditor appears on the screen. If you call loadVideo() before the widget is loaded it will not work.

[2021-11-11 16:12] #146 closed

[2021-11-17 20:50] alymbouras commented on #85
Same here, it's not 100% the same. It's a few milliseconds off.

[2021-11-23 23:57] wiaam-kareem commented on #145
this issue is happening to me also the output path is not working

[2021-11-29 08:14] xmany opened #147 "ffmpegCommand does not support -crl or -preset"
I can have custom ffmpeg command like this:
[code]

but if I add:
[code]
Both options are not recognised, the process will fail.
How to use those options? Thanks!!

[2021-11-30 09:51] masfour7 commented on #117
Any updates?!

[2021-11-30 16:40] sbis04 commented on #117
[flutter-ffmpeg](https://github.com/tanersener/flutter-ffmpeg) plugin is currently archived, I'll update this package to use the newer implementation ([ffmpeg_kit_flutter](https://pub.dev/packages/ffmpeg_kit_flutter)) by next week.

[2021-11-30 18:28] masfour7 commented on #117
Great; it's been taking me hours to solve the problem but nothing did! Hopefully that solves it. Thanks and your package is great by the way!

[2021-12-03 07:16] sbis04 commented on #145
Please try with the latest version of this package (`v1.0.0`), and let me know if it solves the issue.

[2021-12-03 07:22] sbis04 commented on #143
There is a breaking change in version `1.0.0` of this package, the `flutter_ffmpeg` package is being migrated to `ffmpeg_kit_flutter` (more info [here](https://github.com/tanersener/flutter-ffmpeg/issues/345)). Now, the configurations are also simpler and this package by default uses the LTS version of FFmpeg.

I'm closing this issue, feel free to reopen if you face any issues with the latest vers

[2021-12-03 07:22] #143 closed

[2021-12-03 07:23] sbis04 commented on #142
Assuming it to be solved, closing this issue.

[2021-12-03 07:23] #142 closed

[2021-12-03 07:24] shilangyu commented on #143
Beware however that `ffmpeg_kit_flutter` currently has a API restriction bug: https://github.com/tanersener/ffmpeg-kit/issues/224#issuecomment-981054316

[2021-12-03 07:25] sbis04 commented on #141
You can use the `fpsGIF` property inside the `saveTrimmedVideo()` method to set a custom FPS (by default it is set to **10**)

[2021-12-03 07:27] sbis04 commented on #139
In version `1.0.0` of this package, it by default uses the LTS version of FFmpeg which should reduce the overall app size.

[2021-12-03 07:32] sbis04 commented on #138
Yes, you can use a custom FFmpeg command (you can check out the correct way to capture an image from the Docs [here](https://ffmpeg.org/ffmpeg.html)) but this is not recommended because in order to use the `saveTrimmedVideo()` method you should be showing the `TrimEditor` UI which is suited for only trimming videos.

[2021-12-03 07:38] sbis04 commented on #143
@shilangyu Yes, I'm aware of that. If you check the Readme, I have added a **Troubleshooting** guide for that.

[2021-12-03 07:40] sbis04 commented on #129
Please try using the latest version of this package `1.0.0`, there's a breaking change due to the migration of `flutter_ffmpeg` to `ffmpeg_kit_flutter` (more info [here](https://github.com/tanersener/flutter-ffmpeg/issues/345)).

[2021-12-03 07:46] sbis04 commented on #144
This is not actually due to the video length, it's because of the input video format. There's already an issue regarding this issue (#118), please follow this for further discussion.

[2021-12-03 07:46] #144 closed

[2021-12-03 07:48] sbis04 commented on #132
This might be related to the input video format, there's already an issue open (#118) regarding this, please follow this for further discussion.

[2021-12-03 07:48] #132 closed

[2021-12-03 07:50] sbis04 commented on #117
I have updated the package with the `ffmpeg_kit_flutter` migration. Try the latest version of this package (`1.0.0`) and let me know if it fixes the issue.

[2021-12-03 07:54] sbis04 commented on #147
Can you please what error are you exactly getting, and also please share the entire method `saveTrimmerVideo()` method how you have implemented it?

[2021-12-05 02:09] choubari commented on #130
I have the same issue.

Terminal output:

`I/flutter ( 6804): Got value I/flutter ( 6804): Video successfuly saved I/flutter ( 6804): OUTPUT PATH: /storage/emulated/0/Android/data/com.example.videotrimmer/files/Trimmer/PXL_20210729_193516442_trimmed:Sep1,2021-18:52:28.mp4
`

and couldn't find the saved video in Gallery and File Explorer

utilizing version:
`
video_trimmer: 0.6.0`

[2021-12-05 18:59] husen-hn commented on #145
@sbis04
[code]

for this code:
[code]

[2021-12-06 07:39] utk28rsh commented on #139
Sir, your update hasn't still fixed the issue. I mean just by importing the plugin in a flutter it increases the apk size by 7-8 times.
Please look into it.

[2021-12-06 16:29] lvlrSajjad opened #149 "An issue with v 1.0.0 when flutter_ffmpeg is installed as well"
When I upgraded to 1.0.0 it gave me this error in pod install:
[code]
I use flutter_ffmpeg: ^0.4.2 for some purposes as well.
Therefore I can't use the version 1.0.0 of your library.
My packages are:
[code]
  My flutter doctor:

[code]

[2021-12-06 16:47] sbis04 commented on #149
@lvlrSajjad you have to upgrade from `flutter_ffmpeg ` to `ffmpeg_kit_flutter` in order to use the latest version of this package. This error occurs because some of the `Podfiles` are imported twice, to use the latest version remove `flutter_install_ios_plugin_pods` section: https://github.com/sbis04/video_trimmer/pull/148/files#diff-4fb44f272217447e6b4b3580916d09d23b9055f6a217ad8b26269cfa6031203a

[2021-12-06 17:13] lvlrSajjad commented on #149
@sbis04 So if I change my flutter_ffmpeg to ffmpeg_kit_flutter it'll be fixed or I have to remove those lines from my podfile too?

[2021-12-06 17:24] sbis04 commented on #149
You also need to remove those lines from `Podfile`.
Yes, the `ffmpeg_kit_flutter` package has the same features but a bit different API, migration guide is [here](https://github.com/tanersener/ffmpeg-kit/wiki/Migrating-From-FlutterFFmpeg).

[2021-12-06 18:18] lvlrSajjad commented on #149
@sbis04 It worked. Just out of curiosity, what was the reason for switching to  ffmpeg_kit_flutter?

[2021-12-07 03:05] sbis04 commented on #149
Because `flutter_ffmpeg` has been archived by its maintainer and would no longer receive any updates: https://github.com/tanersener/flutter-ffmpeg/issues/345

[2021-12-08 13:43] #149 closed

[2021-12-08 16:27] walikhan226 opened #150 "Cannot save file on custom path"
StorageDir.externalStorageDirectory is selected, i want to give a custom storage directory, because trimmed videos are not showing up in gallery

[2021-12-08 16:30] walikhan226 commented on #150
Need a way to save file on a custom local directory on android device

[2021-12-08 16:50] sbis04 commented on #150
you can use [gallery_saver](https://pub.dev/packages/gallery_saver) plugin to save the trimmed video to gallery

[2021-12-08 17:04] walikhan226 commented on #150
I don't think this package solves the problem, saveTrimmedVideo function does not return anything and automatically decides the saving location.

[2021-12-09 08:55] husen-hn commented on #145
@sbis04 I tested this problem completely and this error is from FFmpeg.[ u need to update to the latest version](https://stackoverflow.com/questions/70261076/flutter-ffmpeg-kit-flutter-resulthandler-can-not-send-event-on-a-null-event-sink)

[2021-12-09 11:41] BanidAzin commented on #105
I have the same error

[2021-12-09 12:58] sbis04 commented on #105
@BanidAzin @nisargdoshi is the error occurring with all the videos? On which platform are you testing (Android/iOS)?

[2021-12-10 04:40] BanidAzin commented on #105
@sbis04 Yes, it's happening for me all the time. I am trying to create a thumbnail after capturing a video using the camera.
I am testing it on iOS.

[2021-12-11 12:57] husen-hn commented on #145
@wiaam-kareem for now just replace this with the current FFmpeg in packages's YAML file to resolve it.

[code]

[2021-12-16 06:30] rikai-trongpq opened #151 "[V1.0.0] [Issue] Exception while build app"
[code]
But if I running app on version 0.6.0, it is work. This error happen when I upgrade package version to 1.0.0

[2021-12-16 06:50] rikai-trongpq commented on #151
@sbis04  Please help me

[2021-12-16 06:51] rikai-trongpq commented on #151
[code]

[2021-12-31 08:28] #141 closed

[2021-12-31 08:30] #129 closed

[2021-12-31 08:30] #117 closed

[2021-12-31 08:31] #138 closed

[2022-01-02 02:23] aditya-mahajan96 opened #152 "Issue with video trimmer working code. Working code stopped working"
My working code of video trimmer stopped working and showing error . It was working fine earlier. Below is the screenshot of what it appears now. It was working all fine earlier. @sbis04 @themadmrj @domliang @ArjanAswal

<img width="1193" alt="Screenshot 2022-01-01 at 10 31 42 PM" src="https://user-images.githubusercontent.com/84502466/147864239-291b4ada-e475-49bf-8865-a8d9b765de68.png">

and here

[2022-01-02 04:15] sbis04 commented on #152
@aditya-mahajan96 when is the error occurring exactly, during saving the trimmed video? Is the video trimmer preview getting generated (the thumbnails)?

[2022-01-02 04:20] sbis04 commented on #151
@rikai-trongpq Try running `flutter clean` and then `flutter pub get` to get the packages again. Let me know if it solves the issue.

[2022-01-02 04:22] sbis04 commented on #147
Didn't get any reply. Assuming it to be solved, feel free to open it again if the issue still persists.

[2022-01-02 04:22] #147 closed

[2022-01-02 04:33] aditya-mahajan96 commented on #152
During the saving the trimmed video method i am getting errror  . Yes i am getting the thumbnails of video trimmer.

[2022-01-02 06:46] sbis04 commented on #152
Okay, firebase notifications shouldn't cause any issues I believe.

I'll look into the issue and try to reproduce it, by today.

[2022-01-04 05:39] akshayrupareliya0912 opened #153 "Update trim"
Video editor screen is common, for select video and it goes to video editor screen from that it goes to crop, trim and other screens.  trim is not updating

[2022-01-04 22:18] ah89 commented on #150
I have the same problem .saveTrimmedVideo used to return Future<string> but after upgrade Future<void> but in the code samples in the official page of the package you trained in old fashion:

_trimmer
        .saveTrimmedVideo(startValue: _startValue, endValue: _endValue)
        .then((value) {
      setState(() {
        _progressVisibility = false;
        _value = value;
      });
    });

`va

[2022-01-10 06:37] akshayrupareliya0912 commented on #152
Have you completed crop, trim using videoeditor package?

[2022-01-13 08:05] dev-zhang opened #154 "Update to ffmpeg_kit_flutter version 4.5.1"
There was a serious issue in ffmpeg_kit_flutter 4.5.0 which has been fixed in 4.5.1. Hope the author can update to ffmpeg_kit_flutter 4.5.1 as soon as possible. Thanks.
Related issue:
Flutter : FirebaseMessaging "onBackgroundMessage" with FFmpegKit #209
issue[#209](https://github.com/tanersener/ffmpeg-kit/issues/209)

[2022-01-19 11:11] JuniorFlorentino commented on #83
OUTPUT: .mp4
flutter: Loading ffmpeg-kit-flutter.
flutter: Loaded ffmpeg-kit-flutter-ios-https-x86_64-4.5.0-lts.
Lost connection to device.

[2022-01-19 11:12] JuniorFlorentino commented on #83
versão 1.0.0 do package

OUTPUT: .mp4
flutter: Loading ffmpeg-kit-flutter.
flutter: Loaded ffmpeg-kit-flutter-ios-https-x86_64-4.5.0-lts.
Lost connection to device.

[2022-01-20 11:56] harsuu942 commented on #114
Any solutions for new version 1.0.0?

[2022-01-26 13:03] ingvilow opened #155 "Can this package work with live video?"
Hi. Can this package work with live video? Or only with saved video?

[2022-02-09 10:46] iamjithinjohnson commented on #152
is this issue fixed?

[2022-02-16 07:03] sadaqatkarimi commented on #145
onSave is not call in version 1.0.0

[2022-02-16 13:03] AhmedTarek-E commented on #154
I have the same issue and it is supposed to be fixed in the latest version of ffmpeg_kit_flutter.
Waiting for the update

[2022-02-16 15:57] AhmedTarek-E commented on #154
I forked the repo and fixed the issue, you can use my fork until the main library is updated

https://github.com/AhmedTarek-E/video_trimmer

[2022-02-17 12:40] iamjithinjohnson commented on #152
i solved this issue with migrating package manually into our project.

[2022-03-03 14:45] #151 closed

[2022-03-03 14:45] #152 closed

[2022-03-03 14:45] #154 closed

[2022-03-03 14:49] sbis04 commented on #154
Sorry for the late fix, had been quite busy with some other work. Have updated the package to use the latest version of `ffmpeg_kit_flutter` (4.5.1-LTS).

[2022-03-03 14:50] sbis04 commented on #152
Sorry for the late fix. Have updated the package to use the latest version of `ffmpeg_kit_flutter` (4.5.1-LTS), this should fix this issue.

[2022-03-05 12:16] jagritjkh commented on #118
any update on this?
facing the same issue while using v1.*

[2022-03-10 15:25] dannycortesv opened #158 "Execution failed for task ':app:checkDebugDuplicateClasses'."
Hi i'm using also ffmpeg_kit_flutter_full_gpl: ^4.5.1-LTS this cause duplicate classes failure. How can we change the package of ffmpeg plugins?

What went wrong:
Execution failed for task ':app:checkReleaseDuplicateClasses'.
A failure occurred while executing com.android.build.gradle.internal.tasks.CheckDuplicatesRunnable
Duplicate class com.arthenica.ffmpegkit.Abi found in modules jetified-ffmpe

[2022-03-10 16:48] eduardocontiero opened #159 "FFmpeg processing failed, Couldn't save the video"
Hi, I have this messages in my terminal :
FFmpeg processing failed
Couldn't save the video

and I also have this error then
Audio sink error
E/MediaCodecAudioRenderer(14541):   com.google.android.exoplayer2.audio.AudioSink$UnexpectedDiscontinuityException:

[2022-03-23 13:27] jack84156 opened #160 "Because every version of flutter_test from sdk depends on path 1.8.0 and video_trimmer >=1.1.0 depends on path ^1.8.1, flutter_test from sdk is incompatible with video_trimmer >=1.1.0. So, because 'my app name 'depends on both video_trimmer ^1.1.1 and flutter_test from sdk, version solving failed. pub get failed (1; So, because 'my app name depends on both video_trimmer ^1.1.1 and flutter_test from sdk, version solving failed.)"
Because every version of flutter_test from sdk depends on path 1.8.0 and video_trimmer >=1.1.0 depends on path ^1.8.1, flutter_test from sdk is incompatible with video_trimmer >=1.1.0.
So, because  'my app name depends on both video_trimmer ^1.1.1 and flutter_test from sdk, version solving failed.
pub get failed (1; So, because 'my app name 'depends on both video_trimmer ^1.1.1 and flutter_test fr

[2022-03-27 13:21] trieuniemit commented on #160
Same problem. Please fix it.

[2022-03-28 22:47] felipeemidio commented on #158
Any update?

[2022-03-28 22:59] dannycortesv commented on #158
@felipeemidio Make sure to use the same ffmpeg package on all puglins you use

[2022-04-09 19:14] er-aman-gupta commented on #160
any one able to fix this??

[2022-04-10 12:46] er-aman-gupta opened #161 "ThumbnailViewer renders thumbnails very slow."
Hey there, the thumbnail viewer being used in TrimEditor renders thumbnails very slowly. Is there a way to speed it up or maybe show a loader while the thumbnails are being loaded.

Trying out the code from example project attached with the project.

[2022-04-10 19:52] wolfwithflames commented on #158
Please help on this facing same issue.

[2022-04-15 05:11] netharuM commented on #160
try downgrading the package
I had the same issue with video_thumbnail (^0.5.0)
and I downgraded it to 0.4.6
that fixed the issue
but I guess developers have to upgrade their dependencies in order to fix it

[2022-04-16 02:59] netharuM commented on #160
I created a fork of this package
and I'm maintaining dependencies there

[2022-04-16 07:49] netharuM opened #162 "application crashes on launch release mode(Android)"
app crashes in release mode apk
it crashes on launch

debug mode apk works just fine

I even checked it in the [example](../tree/master/example/) given
but it too crashed

flutter doctor -v
[code]

[2022-04-16 13:13] netharuM commented on #162
I fixed the issue with the command
[code]

[2022-04-16 13:13] #162 closed

[2022-04-19 20:46] dundadevelop commented on #160
Hi, temporary add this to pubsec.yaml:
[code]

[2022-04-23 03:37] sbis04 commented on #160
This seems like `flutter_test` is not using the latest version of the `path` package (with version `1.8.1`) so that's causing this issue.

Will change the `path` to version `1.8.0` till the `flutter_test` updates

[2022-04-23 03:42] sbis04 commented on #160
Have updated the package, try out:

[code]

[2022-04-23 03:42] #160 closed

[2022-04-23 03:46] sbis04 commented on #161
Yeah, it actually depends on how long is the video and also on the video resolution because thumbnails are generated at equal intervals of the video. For now, there's no way to show a loader (because the empty space signifies that the thumbnails are being loaded).

[2022-04-23 03:47] sbis04 commented on #159
Are you testing on a physical device or an emulator? Can you please attach the `flutter doctor` output as well?

[2022-04-23 03:50] sbis04 commented on #158
In your `pubspec.yaml` file, are you guys using both the `ffmpeg_kit_flutter` and the `video_trimmer` packages?

[2022-04-23 03:56] sbis04 commented on #155
I don't think it would work properly on a live video because its length changes. Also, why do you want to trim a live video, can you please explain a bit your use case?

[2022-04-23 04:02] sbis04 commented on #150
@ah89 you can get the output path like this:

[code]

Check the example for more information.

[2022-04-23 04:03] #150 closed

[2022-04-23 04:03] #145 closed

[2022-04-23 04:20] felipeemidio commented on #158
Yes, @sbis04. My case is that I want to use the `video_trimmer` package **and**  the `ffmpeg_kit_flutter_https_gpl` for video convertion (both on version _4.5.1-LTS_).

[2022-04-23 12:01] sbis04 commented on #158
I'm not totally sure how this duplicate class error can be fixed, but this thread may help: https://stackoverflow.com/questions/56029393/why-im-getting-duplicate-class-when-running-my-android-project

[2022-04-23 12:05] sbis04 commented on #140
I'm not sure, FFmpeg seems to support this format but most probably you'll need to convert it to something like `mp4` (https://stackoverflow.com/questions/32528595/ffmpeg-mp4-from-http-live-streaming-m3u8-file) to use the video with this package.

[2022-04-24 08:35] er-aman-gupta commented on #161
I see. Would be a nice add on if you expose callback methods to indicate when loading starts/stops.

[2022-04-28 14:24] aliaktas-tr commented on #32
Did anyone find any solition?

[2022-05-07 06:45] sbis04 commented on #140
Closing this issue. Feel free to open if you want to discuss more about it.

[2022-05-07 06:45] #140 closed

[2022-05-19 11:21] Priyanshu-Softedge opened #163 "Null Output Path"
it is not giving outpath of file.....

[2022-05-20 20:41] ZaLiTHkA commented on #87
quick note on this front: not sure if it's worth opening a whole new issue for...

when I had a look at `flutter_ffmpeg`, I noticed a [`README` update](https://github.com/tanersener/flutter-ffmpeg/commit/fca32a79bc3ce7bb5fc76f5de0f5af5de9de3b61) from 7 months back to say:

I then checked `ffmpeg-kit`, who's GitHib repo description states:

so, basically at least one _could_ add macOS support _here

[2022-05-26 03:57] sbis04 commented on #159
Haven't received any user reply

[2022-05-26 03:58] sbis04 commented on #159
Haven't received any user reply

[2022-05-26 03:58] #159 closed

[2022-05-26 03:59] sbis04 commented on #155
Haven't received any user reply.

[2022-05-26 03:59] #155 closed

[2022-05-28 10:50] salahdine2020 opened #164 "onSave() methode doesnt existe in saveTrimmedVideo"
i face this horrible error some one can help me to fixe or any suggetions the methode does existe enymore :
`    _trimmer.saveTrimmedVideo(
      startValue: _startValue,
      endValue: _endValue,
      onSave: (outputPath) {
        setState(() {
          _progressVisibility = false;
        });
        debugPrint('OUTPUT PATH: $outputPath');
        Navigator.of(context).pushReplacement(

[2022-06-14 04:08] Velkamhell97 opened #165 "Error when build with Firebase"
Hi friend, i want to use the package but I have not been able due to some problems when making the build:

1.  The first problem was with the minimum version of the sdk, which should be 24, this is easily solved by changing the minimum version in android/app/build.gradle

[code]
2.  The second error has the following message: **_"More than one file was found with OS independent path 'lib/arm64-v8a

[2022-06-21 16:30] anirudhraopn opened #166 "Saved video not having consistent duration in a loop"
My code, where increment factor is the fixed duration for each trimmed video.

Example: If duration is set to 10 seconds then some of the saved outputs are having 11 seconds duration. where the extra 1 second is taken from the previous cut. The logs show correct Start and End values.

 double incrementFactor = (double.parse(_trimDuration.text) * 1000);
    try {
      for (double i = _start; i < _

[2022-07-02 17:00] anirudhraopn commented on #166
Any solution for this?

[2022-07-06 21:52] wanoghoco opened #167 "having error running for iOS"
[!] CocoaPods could not find compatible versions for pod "ffmpeg_kit_flutter/https":
  In Podfile:
    ffmpeg_kit_flutter (from `.symlinks/plugins/ffmpeg_kit_flutter/ios`) was resolved to 4.5.1, which depends on
      ffmpeg_kit_flutter/https (= 4.5.1)

Specs satisfying the `ffmpeg_kit_flutter/https (= 4.5.1)` dependency were found, but they required a higher minimum deployment target.

[2022-07-13 14:04] swapnilsinha17 opened #168 "VideoTrimmer is only showing loading when selecting video in iOS from File picker."
VideoTrimmer is only showing loading on iOS Device. The File picker picks video. Work Fine Previously.
video_trimmer: ^1.0.0

[2022-07-15 11:00] OrchiDorchi opened #169 "FFmpeg processing failed with custom ffmpeg command"
Hi, I am testing with physical device using version 1.1.3. I need to compress trimmed video , so I am using custom ffmpeg commands but the process fails.
Here is my code and output.
Code:

[code]

Output:

I/flutter ( 9002): Retrieved Trimmer folder
I/flutter ( 9002): Start: 0:00:00.000000 & End: 0:00:15.000000
I/flutter ( 9002): /data/user/0/\<APP NAME\>/app_flutter/Trimmer/
I/flutter ( 9002): OU

[2022-07-18 14:23] expertdev-designer opened #170 "Video Trim issue from gallery pick"
When picking a video from gallery . Video Compress show file FileSystemException  cannot Retrieve length of file path.

Video Path is coming fine.

While when  loading a video from camera its working fine.

void _loadVideo() async {
    print("widget.file.path ${widget.file}");
    _trimmer.loadVideo(videoFile: widget.file);
  }
![Simulator Screen Shot - iPhone 13 - 2022-07-20 at 10 03 33](https:/

[2022-07-20 15:09] ovib commented on #105
Any progress on this issue? I have the same error on iPhone SE second gen with iOS 15.1

[2022-07-23 19:43] bluejoyq commented on #118
I solved it by adding values of onChangeEnd and onChangeStart and lowering the thumbnail quality.

`TrimEditor(
                  circlePaintColor: Theme.of(context).colorScheme.tertiary,
                  borderPaintColor: Theme.of(context).colorScheme.tertiary,
                  durationTextStyle: Theme.of(context).textTheme.bodyText2!,
                  trimmer: trimmer,
                  maxVi

[2022-07-29 15:53] khaledmurtaja opened #172 "could i control the trimmer slider? like could i set the start and the end of the slider using this package?"
i do not  want the trimming slider to take the video(Start and end) , i want to customize  it  using specific time interval ? it is possible using this package ?

[2022-08-08 02:00] vugn commented on #172
Same prob, did u already get it?

[2022-08-09 03:53] lan2000 opened #173 "When the video is longer than 5 minutes, the sliding module is difficult to slide."
video_trimmer 1.1.3

[2022-08-09 05:11] huzaifasaeed commented on #139
Any updates, regarding app size issue?

[2022-08-09 05:18] utk28rsh commented on #139
No solution was found for fixing the app size issue. Apparently, no one seems to be discussing it because this issue makes this plugin unusable.

[2022-08-15 00:23] NoizyCr1cket commented on #118
Make sure the TrimEditor is built before the Trimmer is initialized. The TrimEditor waits for the Trimmers' initialization event, but it never receives the event if it wasn't built before the Trimmer initialized. For example, I was showing a loading indicator instead of TrimEditor until _after_ the Trimmer initialized. This was causing your same issue for me.

[2022-09-02 17:54] Helocominc opened #175 "Maintenance"
Is this plug-in still maintained?

There are lots of PR and issues that has not been responded to. Kindly update the status of this package.
@sbis04

[2022-09-18 18:30] ParhaMDeF commented on #167
Use these commands to install **ffmpeg_kit_flutter** correctly.
don't forget to put minimum ios support to version 10.0.
in my case, I put 14.0.
[code]

[2022-09-20 10:39] ParhaMDeF opened #176 "could not access /data/user/0/com.example.app/app_flutter/Trimmer/file.mp4"
i tried to compress the trimmed video by **video_compress** package but I gets an error.

[2022-09-24 08:22] YofarDev commented on #158
For me the same problem of duplicate classes comes from using both ffmpeg_kit_flutter_min_gpl and video_trimmer (you can reproduce the problem by adding these 2 packages in a new project) and I don't get what I need to exclude in build.gradle?

[2022-10-11 13:33] Jatin141 commented on #170
Hello Team Any update same issue happen in my device also and i checked other device it is working fine. Thanks
![simulator_screenshot_AD77895D-8F5A-466B-ACEC-EE31191290B1](https://user-images.githubusercontent.com/106056823/195105299-a62291cd-7df0-4d91-b7b0-97d2d63dfeec.png)

[2022-10-14 07:05] nazrulahmed-bs commented on #176
Is there any update about this issue?

[2022-10-20 19:34] charlieforward9 commented on #105
I am also getting this issue. It does not prevent me from trimming the video, but it does result in a not-so-ideal UX. Looking forward to updates on this. I am testing on a real device iOS (15)

[2022-10-23 09:17] sbis04 commented on #167
Are you still facing this issue?

[2022-10-24 08:35] Helocominc opened #178 "FfmpegkitFlutterPlugin error"

[2022-10-25 03:03] sbis04 commented on #178
Can you please provide a bit more description of the error?

[2022-10-25 12:57] Helocominc commented on #178
When I set the trimmer video max length to 1l30 seconds the slider won't move. The start slider only move from 00 and stop in end slider which is 30secs of the video length.

Expected behavior:
Allow the trimmer slider to move when maxVideoLength is set but get only 30secs of the video clip.

[2022-10-25 21:02] Helocominc opened #179 "Left and right trimmer slider activate at once"
When the left slider is focused the right slider too become active and causes the left slider not to move. Same thing happens the other way round.
Below is a sample video of the issue

https://user-images.githubusercontent.com/90664424/197882041-30759af7-8469-4836-8f41-0a372d59c4fb.mp4

Expected Behavior:
The slider that is tapped should move not the one that is not tapped.
Sample below

https://u

[2022-10-29 13:59] sbis04 commented on #178
I didn't totally understand your question. But when the `maxVideoLength` is set to 30 seconds, you should be able to select a maximum of 30 seconds from the video (if the total length of the video is less than 30 seconds then the `maxVideoLength` would default to the length of the video).

[2022-10-29 14:01] sbis04 commented on #173
The next version (`video_trimmer 2.0.0`) should solve this issue -- it introduces a scrollable trimmer!

[2022-10-29 14:02] sbis04 commented on #175
Yes, it is still maintained. A new version is coming soon with some nice updates fixing a lot of issues that were open for a long time! 🙏

[2022-10-29 14:08] sbis04 commented on #176
Seems like it's an issue only on Android emulator as per the discussion [here](https://github.com/jonataslaw/VideoCompress/issues/83). It's always recommended to use the `video_trimmer` package on a physical device.

Did you try it on any physical device?

[2022-10-29 14:10] sbis04 commented on #179
The bug with the trimmer holders will be solved in the next update (`video_trimmer 2.0.0`).

[2022-10-29 14:11] #82 closed

[2022-10-29 14:14] Helocominc commented on #175
Thank you a lot for the maintenance. I really like this package and making use of it.

[2022-10-29 14:16] sbis04 commented on #172
No, currently it's not possible using this package to limit the total duration of the video. But you can try using the `ffmpeg_kit_flutter` package to trim the video to a particular length before sending it to the video trimmer.

[2022-10-29 14:26] Helocominc commented on #179
That will be great. Will constantly keep checking for new updates

[2022-10-29 14:28] sbis04 commented on #169
Not sure about the exact command to compress, but I think the easier way would be using [`video_compress`](https://pub.dev/packages/video_compress) package.

[2022-10-29 14:30] sbis04 commented on #139
Closing this issue for now, because there have been some changes to the `ffmpeg_kit_flutter`. Please open a new issue if you want to discuss it even further.

[2022-10-29 14:30] #139 closed

[2022-10-29 14:33] #163 closed

[2022-10-29 14:34] #167 closed

[2022-10-29 14:35] #111 closed

[2022-10-29 14:43] sbis04 commented on #85
This difference is because a video can only be trimmer from a keyframe position, detailed explanation [here](https://stackoverflow.com/a/18449609). You can set `applyVideoEncoding: true` in the `saveTrimmedVideo()` method to solve this issue to some extent.

[2022-10-29 14:43] #85 closed

[2022-10-29 14:45] #164 closed

[2022-10-29 14:47] sbis04 commented on #165
This is related to `firebase_core` package, please open an issue there if you are facing this.

[2022-10-29 14:47] #165 closed

[2022-10-29 14:53] Helocominc commented on #178
If I set the `maxVideoLength` to 30secs it only get the videos 30secs (from 00 to 30secs) and doesn't move to select other part of the video. It just get stuck on the first 00 to 30secs.

[2022-10-29 14:56] sbis04 commented on #178
Oh, that's weird -- is it possible for you to share with me a screen capture of it? And, also the actual total length of that video file.

[2022-10-29 15:16] Helocominc commented on #178
This is a sample video of the bug. The slider doesn't move on drag to other video length.

Uploading Screen_Recording_20221029-161013.mp4…

[2022-10-29 15:28] sbis04 commented on #161
The next version (`video_trimmer 2.0.0`) will have `onThumbnailLoadingComplete` callback.

[2022-10-29 15:31] sbis04 commented on #178
Got it, it's actually because the center portion is almost fully covered by the holder tap sizes, so it might be very hard to move the slider (otherwise it should have been possible to drag by holding inside the selected area). The next update should solve this because it supports a scrollable trimmer area!

[2022-10-29 15:33] sbis04 commented on #158
Closing this issue. Please open a new issue if you want to discuss this further.

[2022-10-29 15:33] #158 closed

[2022-10-29 15:37] sbis04 commented on #118
Closing this issue. Please open a new issue if you want to discuss this further.

[2022-10-29 15:37] #118 closed

[2022-10-29 15:39] #175 closed

[2022-10-29 15:39] #178 closed

[2022-10-29 15:39] #179 closed

[2022-10-29 15:39] #52 closed

[2022-10-29 15:39] #114 closed

[2022-10-29 15:39] #161 closed

[2022-10-29 15:39] #173 closed

[2022-10-30 02:09] sbis04 commented on #170
@expertdev-designer are you facing this issue while using `video_compress`?

@Jatin141 are you facing this issue with all videos? And, which device are you using?

[2022-10-30 02:10] sbis04 commented on #168
@expertdev-designer can you please try with the latest version: `video_trimmer: ^2.0.0`

[2022-10-30 02:13] sbis04 commented on #153
Can you please explain the exact flow of your usecase? If you are using multiple video trimmers on the same page it might cause issues.

[2022-10-30 02:22] sbis04 commented on #32
Closing this issue because there have been a few changes to the `ffmpeg_kit_flutter`. Please open a new issue if you want to discuss this further.

[2022-10-30 02:22] #32 closed

[2022-10-30 13:25] Helocominc opened #181 "Display all video thumbnails in one frame in viewerType.scrollable"
If the TrimViewer `type` is set to `ViewerType.scrollable` the video thumbnail doesn't display on a single frame  if `maxVideoLength` is provided. Only the provided `maxVideoLength` portion is shown in the thumbnail.

Platform: Android
Version: video_trimmer 2.0.0

[2022-10-30 19:41] sbis04 commented on #181
Yeah, that's expected behavior. `maxVideoLength` specifies the maximum length the trimmed video can have. If you don't want to limit the length of the trimmed video, use `ViewerType.fixed`. Let me know if I didn't interpret your question properly.

[2022-10-30 19:43] Helocominc commented on #181
I tried using `ViewerType.fixed` but the trimmer doesn't move over the thumbnails.

[2022-10-30 19:51] #62 closed

[2022-10-30 19:59] sbis04 commented on #181
Okay, got it. So, it's basically related to your previous issue (#178). Probably something like a scrollable trimmer without a max length limit should work then I guess?

[2022-10-30 21:30] Helocominc commented on #181
I just want it to have a max length and then move. With all the thumbnail in one frame. Whatsapp have same functionality.

[2022-10-30 22:23] khaledmurtaja commented on #172
I have added some edits to the package, so it can suits my use case(one of them was about specfiying start time for the slider).
I do not think that i should make a pull request for my edits cuz its so customized for my use case.
Good work from you!

[2022-10-31 13:41] Jatin141 commented on #170
@sbis04 some video have face this issue.

[2022-10-31 13:45] sbis04 commented on #170
Upon some investigation, I noticed that some videos which are not directly present on the device (selected either from Google Photos or iOS Photos stored on iCloud) are having this issue.

@Jatin141 are the videos present on the device or being fetched from cloud storage as stated earlier?

[2022-10-31 13:47] Jatin141 commented on #170
@sbis04 this issue is happen for fetched video in device gallery for andorid and ios both. but issue is generate some video not the all video. thanks

[2022-10-31 13:51] sbis04 commented on #170
Okay, then it might be video specific issue (and that can occur for various reasons). @Jatin141 is it possible to share a video with me that's having this issue?

[2022-10-31 17:53] hatemragab opened #182 "Feature request"
Can we have expect video size
While seeking the trimmer
Like Whatsapp do?

[2022-11-05 02:49] #172 closed

[2022-11-15 17:04] lnbs97 opened #183 "FFmpeg processing failed when using storageDir: StorageDir.applicationDocumentsDirectory"
Hey, I am getting these errors when I try to save a video with storageDir parameter set to "StorageDir.applicationDocumentsDirectory":

`I/flutter (15317): FFmpeg process exited with state COMPLETED and rc 1`
`I/flutter (15317): FFmpeg processing failed.`
`I/flutter (15317): Couldn't save the video`

Documentation says that "StorageDir.applicationDocumentsDirectory" should be the default value, so

[2022-11-16 17:30] estermabel opened #184 "Can't access the video after trimmed"
I'm having a problem where I can't access the video after it's trimmed. I'm sending the output path of the trimmed video for the video_player lib to show it in my screen. But it returns an error saying the path wasn't found.

[code]

[2022-11-18 10:32] estermabel commented on #184
The problem was that the path was being returned with ":" inside it.

[2022-11-18 10:32] #184 closed

[2022-11-18 21:22] Helocominc commented on #181
@sbis04  Any update based on my request?. It's important

[2022-11-19 15:53] LEHOANGLONG0807 opened #185 "CocoaPods could not find compatible versions for pod "ffmpeg_kit_flutter/https":"
I got this error when pod install:

[!] CocoaPods could not find compatible versions for pod "ffmpeg_kit_flutter/https":
  In Podfile:
    ffmpeg_kit_flutter (from `.symlinks/plugins/ffmpeg_kit_flutter/ios`) was resolved to 5.1.0, which depends on
      ffmpeg_kit_flutter/https (= 5.1.0)

Specs satisfying the `ffmpeg_kit_flutter/https (= 5.1.0)` dependency were found, but they required a higher mi

[2022-11-25 08:57] willbsoon opened #186 "memory leak"
hello i found bug.
_videoPlayerController is not disposed. So app occur memory leak.

lib/src/trimmer.dart
[code]

please fix it.
thank you🙏

[2022-11-28 10:07] #186 closed

[2022-11-29 03:09] sbis04 commented on #185
Did you try out [this troubleshooting step](https://github.com/sbis04/video_trimmer#troubleshooting)?

[2022-11-29 03:15] sbis04 commented on #183
This doesn't seem like an issue with the saving, but rather an issue with the FFmpeg trimming. Did you try out with any other videos?

It has been seen earlier that if a video is selected from Google Photos or other cloud storage medium (and is not present on the device), it causes an issue in the FFmpeg processing (maybe you can download the video on device and then select it inside the app to un

[2022-11-29 03:16] #170 closed

[2022-11-29 03:18] #176 closed

[2022-11-29 03:18] #169 closed

[2022-11-29 03:19] #153 closed